@import url(/calvarynow.css);


.mpp-card:hover {
    cursor: initial;
}

.mpp-card--badge.Leader {
    background-color: var(--primary);
    left: -77px;
    top:70px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.mpp-card--badge.Leader::after {
    display: none;
}

.mpp-card--description {
    display: none;
}

.mpp-card--footer {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    margin-right:1rem;
}

.mpp-card--footer a {
    width: 100%;
}

@media only screen and (max-width: 999px) {
    .mpp-card--footer {
        position: initial;
        display: inline-block;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .mpp-card--footer {
        display: block;
        padding: 0 1rem;
        width: 100%;
        margin: auto;
    }
}