/*********************/
/* CSS Global Styles */
/*********************/
:host {
    --root-text-color: #333;
    --root-font-size: 1.25rem;
    --root-line-height: 1.25rem;
    --primary: #FA2423;
    --secondary: #26313B;
    --tertiary: #DEDAC9;
    --form-field-color: var(--root-text-color);
    --form-field-bgcolor: #f9f9f9;
    --form-field-bgcolor--active: #fff;
    --form-field-border: var(--secondary);
    --form-field-border--active: var(--secondary);
    --form-field-borderradius: 0.5rem;
    --form-field-boxshadow--active: 0 0 0.2rem 0.05rem var(--primary);
    --form-valid: #42bc34;
    --form-invalid: #dc3545;
    --form-btn-primary-text: #fff;
    --form-btn-primary-bgcolor: var(--primary);
    --form-btn-primary-hover: var(--primary);
    --form-btn-primary-active: var(--primary);
    --form-btn-secondary-text: #fff;
    --form-btn-secondary-bgcolor: var(--secondary);
    --form-btn-secondary-hover: var(--secondary);
    --form-btn-secondary-active: var(--secondary);
    --form-btn-disabled: var(--tertiary);
    --card-bgcolor: #fff;
    --card-title-color: var(--primary);
    --card-header-bgcolor: #ffffff;
    --box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.35);
    --progress-pledged: var(--secondary);
    --progress-received: var(--primary);
    --root-font-face: proxima-nova,sans-serif;
    --header-font-face: proxima-nova,sans-serif;
    --innerPage-maxWidth: 900px;
    --innerPage-h1fontFamily: var(--header-font-face);
    --innerPage-h1fontSize: 2.5rem;
    --innerPage-primaryColor: var(--primary);
    --innerPage-linkHoverColor: var(--secondary);
    --innerPage-linkColor: var(--primary);
    --innerPage-buttonHoverBgColor: var(--secondary);
    --innerPage-fontSize: 1.1rem;
    --innerPage-lineHeight: 1.6rem;
    --alt-text-color: #777777;
}

* {
    font-family: var(--root-font-face);
}

h1, h2, h3 {
    font-family: var(--header-font-face);
}

/***************/
/* Card Styles */
/***************/

:host {
    --card-title-color: #333333;
    --card-textColor: #333333;
    --card-borderRadius: 0.5rem;
    --card-boxShadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    --card-primaryColor: var(--primary);
    --card-badgeBgColor: var(--primary);
    --card-headerBgColor: #ffffff;
    --card-badge-highlightColor: #fff;
    --card-badgeStatusActiveColor: var(--card-primaryColor);
    --card-badgeStatusPendingColor: var(--tertiary);
    --card-badgeStatusDiscontinuedColor: var(--tertiary);
    --card-badgeStatusCompleteColor: var(--secondary);
    --card-fontSize: 1rem;
    --card-lineHeight: 0.75rem;
    --card-fontSizeHeader: 1.5rem;
    --card-lineHeightHeader: 1.5rem;
    --card-progressBarColor: var(--secondary);
    --card-progressBarActiveColor: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    --card-progressBarRemainingColor: white;
    --card-progressBarCompleteColor: #77be43;
    --card-imageBgColor: #bcbcbc;
    --card-checkboxDefaultColor: #bcbcbc;
    --card-labelBgColor: #fff;
}

/* FINDER STYLES */

#searchForm {
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-gap: 1%;
}

#searchForm > .mppw-form-field:nth-of-type(1) {
    grid-column-start: 1;
}

#searchForm > .mppw-form-field:nth-of-type(2) {
    grid-column-end: 2 span;
}

#searchForm .mppw-form-field .mppw-form-field__static-container {
    width: 47.5%;
    margin: 0 1.25%;
    display: inline-block;
}

.mppw-right {
    display: none;
}

#advancedSearchSection {
    display: inline-block !important;
    grid-row-start: 1;
    grid-column-start: 2;
}

#advancedSearchSection .mppw-form-field:not(:first-child) {
    display: none;
}

#advancedSearchSection .mppw-form-field .mppw-form-field__static-container {
    flex: 1;
}

.mppw-centered {
    grid-column-start: 3;
    grid-column-end: span 2;

}

.mppw-card--grid {
    grid-template-columns: 31% 31% 31%;
    grid-gap: 2rem 3.5%;
    margin-top: 2rem;
}

.mpp-card {
    cursor: pointer;
    transition: scale 0.5s ease-out;
    scale: 100%;
    border-radius: 0;
    border: 1px solid white;
    box-shadow: none;
}

.mpp-card--body {
    padding: 0.5rem 0;
}

.mpp-card:hover {
    transition: scale 0.25s ease-out;
    scale: 103%;
}

.mpp-card--header, .mpp-card--image {
    height:195px;
    background-color: var(--secondary);
}

.mpp-card--image {
    background-color: white;
}

.mpp-card h3, .mpp-card h4, .mpp-card p {
    font-weight: normal;
    line-height: 1.5rem;
}

.mpp-card--title {
    font-size: 1.2rem;
}

.event-location {
    font-size: 0.75rem;
    text-transform: uppercase;
    background-color: var(--tertiary);
    color: #555;
    margin-top: 0.5rem;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    width: max-content;
}

.mpp-card--description {
    display: none;
}

.mpp-card--footer {
    display: none;
}

/* FINDER MOBILE STYLES */

@media screen and (max-width: 768px) {
    #searchForm {
        grid-template-columns: 100%;
    }

    #searchForm > .mppw-form-field:nth-of-type(1) {
        grid-column-start: 1;
    }

    #searchForm > .mppw-form-field:nth-of-type(2) {
        grid-column-end: initial;
    }

    #searchForm .mppw-form-field .mppw-form-field__static-container {
        width: 100%;
        margin: 0;
    }

    #advancedSearchSection {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .mppw-centered {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 1rem;
    }

    .mppw-card--grid {
        grid-template-columns: 100%;
        grid-gap: 2rem 0;
    }

    .mpp-card {
        border-bottom: 1px solid var(--primary);
        padding-bottom: 1.5rem;
    }
}

/* Details Widget*/

#detailsContainer, #mapContainer {
    max-width: 900px;
    margin: auto;
}

#detailsContainer .mpp-innerpage--fixed-img {
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: 2rem;
}

.mpp-innerpage .mpp-innerpage--labels {
    margin: 0;
}

#detailsContainer .mpp-innerpage--datetime {
    font-size: 1.5rem;
    font-weight: bold;
}

#detailsContainer .mpp-innerpage p {
    margin: 0 0 24px;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

#detailsContainer .mpp-innerpage--contacts-wrapper {
    background-color: #fafafa;
    padding: 1rem 2rem;
    border-left: 2px solid var(--primary);
    margin-bottom: 2rem;
}

#detailsContainer .mpp-innerpage--special-title {
    font-size: 1.25rem;
}

#detailsContainer .mpp-innerpage--special-content {
    font-size: 1.25rem;
    padding: 0;
}

#detailsContainer .mpp-innerpage--contact {
    background: var(--innerPage-labelBgColor);
    border-radius: 32px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 8px;
    height: 64px;
}

.mpp-innerpage--name {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
}

#mapContainer {
    background: transparent;
}

.mpp-innerpage--map {
    display: none;
}

.mpp-innerpage--map-info, .mpp-innerpage--map-info a {
    font-size: 1.25rem;
    padding: 0;
    color: #666;
}

#registrationForm {
    max-width: 900px;
    margin: auto;
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 2rem;
}

#registrationForm .titleContainer h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

#singlePriceContainer {
    font-size: 1.5rem;
    font-weight: normal;
}

#registrationForm .mppw-row {
    margin-bottom: 2rem;
}

#registrationForm .mppw-form-field {
    margin-bottom: var(--form-field-margin);
    margin-top: var(--form-field-margin);
    position: relative;
    border-radius: 0;
    background: transparent;
}

#registrationForm .mppw-form-field__control {
    border: 1px solid var(--form-field-border);
}

#registrationForm .mppw-form-field__control {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0;
    background: transparent;
    font-size: 1.5rem;
    font-weight: normal;
}

#registrationForm .mppw-form-field--is-valid .mppw-form-field__control, #registrationForm .mppw-form-field--is-invalid .mppw-form-field__control, #registrationForm .mppw-form-field__static-container .mppw-form-field__control {
    padding: initial;
}

#registrationForm .mppw-form-field--is-valid .mppw-form-field__control {
    background: initial;
    background: #fafafa;
}

#registrationForm .mppw-form-field--is-valid .mppw-form-field__label, #registrationForm .mppw-form-field--is-invalid .mppw-form-field__label, #registrationForm .mppw-form-field__static-container .mppw-form-field__label, #registrationForm .mppw-form-field__control:not([value=""]) + .mppw-form-field__label, #registrationForm .mppw-form-field__control:focus + .mppw-form-field__label {
    padding: 0;
    background: transparent;
    font-size: 1rem;
    font-weight: normal;
    top: -25px;
    left: 0;
}

#registrationForm .mppw-form .mppw-btn {
    display: inline-block;
    margin-bottom: var(--form-field-margin);
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: none;
    margin-bottom: 2rem;
    min-width: 50%;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

#addAnotherButton {
    background-color: transparent;
    color: #777;
    font-weight: normal;
    border: 1px solid #777;
}


/* FORM STYLES */

.mppw-form-field__control {
    font-size: 1rem;
    font-weight: bold;
}

.mppw-form-field__label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.mppw-form-field__control option {
    font-size: 1rem;
}