/* Custom CSS for site widgets */

/*--------------------------------------------*/
/* General                                    */
/*--------------------------------------------*/

.p {
  font-size:12pt;
  line-height:14pt;
}

/*--------------------------------------------*/
/* Lists                                      */
/*--------------------------------------------*/

.ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 155px;
  line-height:14pt;
}

/*--------------------------------------------*/
/* Buttons                                    */
/*--------------------------------------------*/
.mppw-btn {
    background: #001f4e;
    border-radius: 4px;
    border: 0;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

    .mppw-btn:hover,
    .mppw-btn:focus {
        background: #ffa400;
        color: #fff;
    }

    .mppw-btn:active {
        background: #ffa400;
        color: #fff;
    }

    .mppw-btn:disabled {
        background: #657783;
        cursor: not-allowed;
        opacity: 0.5;
    }

.mppw-btn.primary {
    margin-left: 8px;
}

.mppw-btn.secondary {
    background: #fff;
    border: 1px solid #384249;
    box-shadow: none;
    color: #384249;
    font-weight: bold;
}

    .mppw-btn.secondary:hover,
    .mppw-btn.secondary:focus {
        background: #f6f7f9;
    }

    .mppw-btn.secondary:active {
        background: #ededed;
    }

@media only screen and (max-width: 768px) {
    .mppw-btn {
        margin-bottom: 8px;
        width: 100%;
    }

        .mppw-btn.primary {
            margin-left: 0;
        }
}

/*--------------------------------------------*/
/* Card                                       */
/*--------------------------------------------*/
:host {
    --card-textColor: #384249;
    --card-borderRadius: 4px;
    --card-boxShadow: none;
    --card-primaryColor: #4a95ec;
    --card-badgeBgColor: var(--card-textColor);
    --card-headerBgColor: #666;
    --card-badgeStatusActiveColor: var(--card-primaryColor);
    --card-badgeStatusPendingColor: #f0d030;
    --card-badgeStatusDiscontinuedColor: #ededed;
    --card-badgeStatusCompleteColor: #77be43;
    --card-fontSize: 14px;
    --card-fontSizeHeader: 18px;
    --card-lineHeight: 24px;
    --card-progressBarColor: #1b88b0;
    --card-progressBarActiveColor: linear-gradient(90deg, #1b88b0 0%, #1fb5ac 100%);
    --card-progressBarRemainingColor: #efefef;
    --card-progressBarCompleteColor: #77be43;
    --card-imageBgColor: #657783;
    --card-checkboxDefaultColor: #657783;
    --card-labelBgColor: #efefef;
}

.mppw-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

    .mppw-arrow:before {
        content: '';
        border-right: 3px solid #ffa400;
        border-bottom: 3px solid #ffa400;
        width: 10px;
        height: 10px;
        transform: rotate(-225deg);
    }

    .mppw-arrow:after {
        content: '';
        background: #ffa400;
        width: 18px;
        height: 3px;
        margin-left: -12px;
    }

.mpp-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f3f4f4;
    border-radius: 0px;
    color: var(--card-text-color);
    font-size: var(--card-fontSize);
    line-height: var(--card-lineHeight);
    overflow: hidden;
}

/* Header */
.mpp-card--header {
    background: var(--card-headerBgColor);
    height: 225px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 35%)
}

.mpp-card--badge {
    background: #ffa400;
    box-shadow: none;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 0;
}

.mpp-card--badge::before {
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}

    .mpp-card--badge.isFull::before
     .mpp-card--badge.active::before {
        background: var(--card-badgeStatusActiveColor);
        content: '';
    }

    .mpp-card--badge.pending::before {
        background: var(--card-badgeStatusPendingColor);
        content: '';
    }

    .mpp-card--badge.discontinued::before {
        background: var(--card-badgeStatusDiscontinuedColor);
        content: '';
    }

    .mpp-card--badge.complete::before {
        background: var(--card-badgeStatusCompleteColor);
        content: '';
    }

.mpp-card--image {
    height: 225px;
    object-fit: cover;
    width: 100%;
}

/* Body */
.mpp-card--body {
    margin-bottom: auto;
    padding: 16px;
}

.mpp-card h3, .mpp-card h4, .mpp-card p {
    margin: 0;
}

.mpp-card--title {
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
    overflow: hidden;
}

.mpp-card--subtitle {
    font-weight: bold;
}

.mpp-card--description {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 120px;
    overflow: hidden;
}

/* Footer */
.mpp-card--footer {
    padding: 8px 16px 16px;
    text-align: right;
}

.mpp-card--progress {
    border-radius: var(--card-borderRadius);
}

.mppw-card--grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 16px;
    margin-top: 16px;
}

.mpp-card--labels {
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.mpp-card--label {
    background: var(--card-labelBgColor);
    border-radius: 2px;
    display: inline-block;
    padding: 3px 16px;
    height: 30px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 8px;
}

@media only screen and (max-width: 768px) {
    .mpp-card {
        width: 100%;
    }

    .mppw-card--grid {
        grid-template-columns: 49% 49%;
    }
}

@media only screen and (max-width: 415px) {
    .mppw-card--grid {
        display: block;
        margin-bottom: 16px;
    }
}

/*--------------------------------------------*/
/* Inner Page Details                         */
/*--------------------------------------------*/
:host {
    --innerPage-bgColor: #657783;
    --innerPage-textColor: #384249;
    --innerPage-fontSize: 1.2rem;
    --innerPage-lineHeight: 1.8rem;
    --innerPage-primaryColor: #ffa400;
    --innerPage-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --innerPage-borderRadius: 0.25rem;
    /* headers */
    --innerPage-h1fontSize: 2.5rem;
    --innerPage-h1lineHeight: 5rem;
    --innerPage-h2fontSize: 1.75rem;
    --innerPage-h2lineHeight: 2.5rem;
    --innerPage-h3fontSize: 1.5rem;
    --innerPage-h3lineHeight: 2.2rem;
    --innerPage-h3color: #657783;
    --innerPage-h4fontSize: 1.3rem;
    --innerPage-h4lineHeight: 1.9rem;
    --innerPage-dateTimeFontSize: 1.5rem;
    --innerPage-buttonBgColor: var(--innerPage-primaryColor);
    --innerPage-buttonHoverBgColor: #f26822;
    --innerPage-buttonActiveBgColor: #f26822;
    --innerPage-progressBarColor: #ffa400;
    --innerPage-progressBarActiveColor: linear-gradient(90deg, #f26822 0%, #ffa400 100%);
    --innerPage-progressBarRemainingColor: #efefef;
    --innerPage-progressBarCompleteColor: #77be43;
    --innerPage-labelBgColor: #efefef;
    --innerPage-linkColor: #ffa400;
    --innerPage-linkHoverColor: #f26822;
    --innerPage-linkActiveColor: #f26822;
    --innerPage-imageBgColor: #657783;
    --innerPage-mapBgColor: #efefef;
    --form-field-bgcolor--active: #fafafa;
    --form-field-border--active: #ffa400;
    --form-field-boxshadow--active: #ffa400;
}

.mpp-innerpage {
    color: var(--innerPage-textColor);
    font-size: var(--innerPage-fontSize);
    line-height: var(--innerPage-lineHeight);
}

.mpp-innerpage p,
.mpp-innerpage h1,
.mpp-innerpage h2,
.mpp-innerpage h3,
.mpp-innerpage h4 {
    margin: 0 0 24px;
}

.mpp-innerpage h1 {
    font-size: var(--innerPage-h1fontSize);
    line-height: var(--innerPage-h1lineHeight);
}

.mpp-innerpage h2 {
    font-size: var(--innerPage-h2fontSize);
    line-height: var(--innerPage-h2lineHeight);
}

.mpp-innerpage h3 {
    color: var(--innerPage-h3color);
    font-size: var(--innerPage-h3fontSize);
    line-height: var(--innerPage-h3lineHeight);
}

.mpp-innerpage h4 {
    font-size: var(--innerPage-h4fontSize);
    line-height: var(--innerPage-h4lineHeight);
}

.mpp-innerpage a {
    color: var(--innerPage-linkColor);
    font-size: 16px;
    line-height: 28px;
}

.mpp-innerpage a:hover, a:focus {
    color: var(--innerPage-linkHoverColor);
}

.mpp-innerpage a:active {
    color: var(--innerPage-linkActiveColor);
}

.mpp-innerpage ul {
    list-style: inherit;
    margin: 0;
    padding: 0;
}

.mpp-innerpage--back a {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}

.mpp-innerpage--back a:hover,
.mpp-innerpage--back a:focus {
    text-decoration: underline;
}

.mpp-innerpage--image-container {
    background: var(--innerPage-imageBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.mpp-innerpage--placeholder {
    background: var(--innerPage-imageBgColor);
    object-fit: contain;
    padding: 150px;
    height: 400px;
    width: 100%;
}

.mpp-innerpage--image {
    margin-bottom: 48px;
    object-fit: cover;
}

.mpp-innerpage--button {
    background: var(--innerPage-buttonBgColor);
    border-radius: var(--innerPage-borderRadius);
    border: 0;
    box-shadow: var(--innerPage-boxShadow);
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    padding: 8px 16px;
}

    .mpp-innerpage--button:hover,
    .mpp-innerpage--button:focus {
        background: var(--innerPage-buttonHoverBgColor);
    }

    .mpp-innerpage--button:active {
        background: var(--innerPage-buttonActiveBgColor);
    }

.mpp-innerpage--datetime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    margin-bottom: 24px;
}

.mpp-innerpage--datetime-wrapper h2 {
    margin-bottom: 0;
}

.mpp-innerpage--progress {
    border-radius: var(--innerPage-borderRadius);
}

.mpp-innerpage--special {
    margin-bottom: 40px;
}

.mpp-innerpage--special strong {
    font-weight: bold;
}

.mpp-innerpage .mpp-innerpage--labels,
.mpp-innerpage--contacts-wrapper {
    margin-bottom: 24px;
}

.mpp-innerpage--label {
    background: var(--innerPage-labelBgColor);
    border-radius: 2px;
    display: inline-block;
    padding: 3px 16px;
    height: 30px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 8px;
}

.mpp-innerpage--contacts {
    display: inline-flex;
    margin-bottom: 56px;
    width: 100%;
    overflow-y: auto;
}

.mpp-innerpage--contact {
    background: var(--innerPage-labelBgColor);
    border-radius: 32px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 8px;
    height: 64px;
}

.mpp-innerpage--contact-badge {
    background: var(--innerPage-primaryColor);
    background-size: contain;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    min-width: 48px;
    margin-right: 16px;
}

.mpp-innerpage--name {
    margin-right: 16px;
}

.mpp-innerpage--map-container {
    background: var(--innerPage-labelBgColor);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mpp-innerpage--map {
    height: 140px;
    width: 50%;
}

    .mpp-innerpage--map:empty {
        display: none;
    }

.mpp-innerpage--map-info {
    padding-left: 24px;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    width: 50%;
}

    .mpp-innerpage--map-info:empty {
        display: none;
    }

.mpp-innerpage--map-info p {
    margin: 0;
}

.mpp-innerpage .progress-container {
    margin-bottom: 40px;
}

.mpp-innerpage h2 {
    display: none;
}

.mpp-innerpage .progress--container {
    display: none;
}

.mpp-innerpage--contacts-wrapper h3,
.mpp-innerpage .progress--container h3 {
    margin-bottom: 0;
}

.mppw-form-field__control {
    font-weight:bold;
}

.mppw-form-field__label {
    background-color:initial;
    font-weight: bold;
    font-size: 0.8rem;
}

.mpp-form--tabs {
    margin-bottom: 16px;
}

.mpp-form--tabs label {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: var(--innerPage-h2fontSize);
    line-height: var(--innerPage-h2lineHeight);
    font-weight: bold;
    padding-bottom: 8px;
    margin: 8px 24px 8px 0;
}

.mpp-form--tabs label:hover,
.mpp-form--tabs label:focus {
    border-bottom: 3px solid var(--innerPage-linkColor);
}

.mpp-form--tabs label:active,
.mpp-form--tabs label.active {
    border-bottom: 3px solid var(--innerPage-linkColor);
    color: var(--innerPage-primaryColor);
}

.mpp-form--tabs input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.mpp-innerpage--address-container {
    font-size: 14px;
    line-height: 24px;
}


/* TABLET */
@media only screen and (max-width: 768px) {
    .mpp-innerpage {
        width: 100%;
    }

    .mpp-innerpage p {
        font-size: 16px;
        line-height: 28px;
    }

    .mpp-innerpage h1 {
        font-size: 34px;
        line-height: 45px;
    }

    .mpp-innerpage h4 {
        font-size: 16px;
        line-height: 28px;
    }

    .mpp-innerpage--placeholder {
        padding: 100px;
        height: 250px;
    }

    .mpp-innerpage--image {
        margin-bottom: 40px;
    }

    .mpp-innerpage--contacts {
        margin-bottom: 48px;
    }

    .mpp-innerpage--datetime {
        display: block;
    }

    .mpp-innerpage--datetime-wrapper {
        margin-bottom: 24px;
    }

    .mpp-innerpage--map {
        height: 110px;
    }

    .mpp-innerpage--map-info {
        line-height: 24px;
    }

    .mpp-form--tabs label {
        display: inline-block;
    }
}

/*--------------------------------------------*/
/* Login                                      */
/*--------------------------------------------*/
:host {
    --component-bgColor: #657783;
}

.mppw-login {
    position: relative;
}

.mppw-login--container {
    color: #4a95ec;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .mppw-login--container::after {
        content: "";
        display: inline-block;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        margin-left: 8px;
    }

    .mppw-login--container:hover,
    .mppw-login--container:focus {
        color: #4684ca;
    }

    .mppw-login--container:active {
        color: #4273aa;
    }

.mppw-loggedout--username {
    color: #4a95ec;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

    .mppw-loggedout--username:hover,
    .mppw-loggedout--username:focus {
        color: #4684ca;
    }

    .mppw-loggedout--username:active {
        color: #4273aa;
    }

.mppw-login .mppw-icon-unlock,
.mppw-login .mppw-user-photo {
    margin-right: 8px;
}

.mppw-login--dropdown {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
    display: none;
    float: left;
    padding: 8px 0;
    margin-top: 8px;
}

.mppw-login--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mppw-login--list-item a {
    color: #384249;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

    .mppw-login--list-item a:hover,
    .mppw-login--list-item a:focus {
        background: #f6f7f9;
        color: #4a95ec;
        text-decoration: underline;
    }

    .mppw-login--list-item a:active {
        background: #ededed;
        color: #4273aa;
    }

/*--------------------------------------------*/
/* Details Pages                              */
/*--------------------------------------------*/
.mpp-innerpage--image {
    box-shadow: 0.1em 0.1em 0.25em 0 rgba(0,0,0,0.1);
    float: right;
    width: 33%;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: 0.25em;
}

.mpp-innerpage--placeholder {
    display:none;
}

/*** TEMP OVERRIDE ***/
#invalidEmailTemplate {
    display:none;
}

/*--------------------------------------------*/
/* Mobile Styling                             */
/*--------------------------------------------*/

/* TABLET */
@media only screen and (max-width: 768px) {
    .mpp-innerpage--image {
        float:inherit;
        width:inherit;
        margin:inherit;
        border-radius:0.25em;
    }
}

/* CAMPAIGN WIDGET */
.toggle--btn {
    background: #001f4e;
}

.toggle--btn:hover, .toggle--btn.selected {
    background: #ffa400;
}

.mpp-pledge-campaign--photo {
    min-height: 225px;
}

mpp-my-pledges::after {
    content: "Note: Please allow 24 hours for donations to be attributed to your commitment" !important;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    font-style: italic;
}

/* MOBILE */
@media only screen and (max-width: 415px) {
    .mppw-login--container,
    .mppw-loggedout--username {
        justify-content: flex-start;
        width: 100%;
    }

    .mppw-login--dropdown {
        position: static;
        width: 100%;
        text-align: left;
    }

    .mpp-card {
        margin-bottom: 2em;
    }

    .mpp-card--header {
        height: 175px;
    }

    .mpp-card--image {
        height: 175px;
        width: 100%;
    }

    .mpp-pledge-campaign .mpp-pledge-campaign--photo {
        width: initial;
    }
    
}
