@import url(widget-styles-23.css);

.mppw-login {
    text-align: right;
}

.mppw-loggedout--username {
    color: #c7c9c8;
}

.mppw-loggedout--username:hover, .mppw-loggedout--username:focus {
    color: #b7b9b8;
}

.mppw-icon-unlock:before {
    color: #c7c9c8;
}

.mppw-login--container, .mppw-login--container:hover {
    color: #c7c9c8;
    justify-content: flex-end;
}

.mppw-login--dropdown {
    width: unset;
}

@media only screen and (max-width: 999px) {
    .mppw-login {
        margin-top: 1rem;
    }
    
    .mppw-login--container {
        margin-top: 1rem;
    }

    #userDisplayName {
        display: none;
    }
}