/* Global Styles */
:host{
    --card-borderRadius: 0;
    --card-boxShadow: 0em 0.25em 0.25em 0em rgb(0 0 0 / 5%);
    --card-fontSize: 0.85em;
    --card-lineHeight: 1.75em;
    --card-text-color: #777;
    --form-btn-primary-bgcolor: #001f4e;
    --form-btn-primary-hover: #203f6e;
    --form-btn-secondary-text: #999;
    --form-btn-secondary-bgcolor: #fff;
    --form-btn-secondary-hover: #FAFAFA;
    --form-btn-secondary-active: #ededed;
    --form-field-border--active: #ffa400;
    --form-field-borderradius: 0;
    --form-field-border: #ddd;
    --innerPage-bgColor: #657783;
    --innerPage-textColor: #384249;
    --innerPage-fontSize: 16px;
    --innerPage-lineHeight: 22px;
    --innerPage-fontWeight: 300;
    --innerPage-primaryColor: #4a95ec;
    --innerPage-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --innerPage-borderRadius: 4px;
    --innerPage-h1fontSize: 45px;
    --innerPage-h1fontWeight: 600;
    --innerPage-h1lineHeight: 60px;
    --innerPage-h2fontSize: 24px;
    --innerPage-h2lineHeight: 34px;
    --innerPage-h3fontSize: 20px;
    --innerPage-h3lineHeight: 28px;
    --innerPage-h3color: #657783;
    --innerPage-h4fontSize: 18px;
    --innerPage-h4lineHeight: 24px;
    --innerPage-dateTimeFontSize: 28px;
    --innerPage-buttonBgColor: var(--innerPage-primaryColor);
    --innerPage-buttonHoverBgColor: #4684ca;
    --innerPage-buttonActiveBgColor: #4273aa;
    --innerPage-progressBarColor: #1b88b0;
    --innerPage-progressBarActiveColor: linear-gradient(90deg, #1b88b0 0%, #1fb5ac 100%);
    --innerPage-progressBarRemainingColor: #efefef;
    --innerPage-progressBarCompleteColor: #77be43;
    --innerPage-labelBgColor: #efefef;
    --innerPage-linkColor: #4684ca;
    --innerPage-linkHoverColor: #4684ca;
    --innerPage-linkActiveColor: #4273aa;
    --innerPage-imageBgColor: #657783;
    --innerPage-mapBgColor: #efefef;
}

.mpp-innerpage p {
    font-family: Poppins;
    text-transform: none;
    letter-spacing: 0px;
    font-size: var(--innerPage-fontSize);
    line-height: var(--innerPage-lineHeight);
    font-weight: var(--innerPage-fontWeight);
}

h1 {
    font-family: DM Serif Display;
    letter-spacing: 0px;
    font-size: var(--innerPage-h1fontSize);
    line-height: var(--innerPage-h1lineHeight);
    font-weight: var(--innerPage-h1fontWeight);
}

/* Card Styles */
.mpp-card {
    border-radius: var(--card-borderRadius);
    border-bottom: 1px solid #ddd;
}

.mpp-card--badge {
    background: linear-gradient(160deg, rgba(255, 164, 0, 0.8) 0%, rgba(255, 164, 0, 0.4) 100%);
    border-top-left-radius: var(--card-borderRadius);
    font-size: 0.7em;
    line-height: 2em;
    box-shadow: 0 0 1em rgb(125 80 0 / 25%);
    opacity: 1;
    padding: 0.25em 0.5em;
    color: rgba(255,255,255,0.85);
}

.mpp-card--image {
    box-shadow: var(--card-boxShadow);
    height: 200px;
    border-top: 1px solid #fafafa;
}

.mpp-card--body {
    padding: 0 1.25em;
    font-family: 'Poppins';
}

.mpp-card--title {
    font-size: 1.75em;
    font-family: 'DM Serif Display';
    color: var(--root-text-color);
    line-height: 2em;
    -webkit-line-clamp: 1;
    border-bottom: 1px solid #efefef;
}

.mpp-card--description {
    -webkit-line-clamp: 3;
    clear: both;
}

.mpp-card--subtitle:nth-of-type(1) {
    float: left;
    padding-top: 0.5em;
}

.mpp-card--subtitle:nth-of-type(1):before {
    font-family: 'FontAwesome';
    padding-right: 10px;
    content: "\f041";
}

.mpp-card--subtitle:nth-of-type(2) {
    float: right;
    padding-right: 7px;
    padding-top: 0.5em;
}

.mpp-card--subtitle:nth-of-type(2):before {
    font-family: 'FontAwesome';
    content: "\f017";
}

.mpp-card--subtitle:nth-of-type(3) {
    clear: both;
}

/* Buttons */
.mppw-btn {
    border-radius: 0;
}