/* Global Styles */
:host{
    --root-text-color: #333333;
    --root-font-size: 1.1em;
    --root-line-height: 1.5em;
    --primary: #ffa400;
    --secondary: #001f4e;
    --card-borderRadius: 4px;
    --card-boxShadow: 0em 0.25em 0.25em 0em rgb(0 0 0 / 15%);
    --card-fontSize: 0.85em;
    --card-lineHeight: 1.75em;
    --card-primaryColor: #001f4e;
    --card-text-color: #777;
    --form-btn-primary-bgcolor: #001f4e;
    --form-btn-primary-hover: #203f6e;
    --form-btn-secondary-text: #999;
    --form-btn-secondary-bgcolor: #fff;
    --form-btn-secondary-hover: #FAFAFA;
    --form-btn-secondary-active: #ededed;
    --form-field-bgcolor--active: rgba(0,0,0,0.035);
    --form-field-border--active: #ffa400;
    --form-field-borderradius: 0;
    --form-field-border: #e0e0e0;
    --form-field-boxshadow--active: 0 0.5em 0.5em 0 rgb(0 0 0 / 5%);
    --form-field-color: #333;
    --form-field-margin: 1.5em;
    --innerPage-bgColor: #657783;
    --innerPage-textColor: #384249;
    --innerPage-fontSize: 16px;
    --innerPage-lineHeight: 22px;
    --innerPage-fontWeight: 300;
    --innerPage-primaryColor: #001f4e;
    --innerPage-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --innerPage-borderRadius: 4px;
    --innerPage-h1fontFamily: 'DM SERIF DISPLAY';
    --innerPage-h1fontSize: 2.5em;
    --innerPage-h1fontWeight: 600;
    --innerPage-h1lineHeight: 1.25em;
    --innerPage-h2fontFamily: 'Open Sans';
    --innerPage-h2fontSize: 1.5em;
    --innerPage-h2lineHeight: 1.25em;
    --innerPage-h2fontWeight: 550;
    --innerPage-h3fontSize: 20px;
    --innerPage-h3lineHeight: 28px;
    --innerPage-h3color: #152743;
    --innerPage-h4fontSize: 18px;
    --innerPage-h4lineHeight: 24px;
    --innerPage-dateTimeFontSize: 28px;
    --innerPage-buttonBgColor: var(--innerPage-primaryColor);
    --innerPage-buttonHoverBgColor: #4684ca;
    --innerPage-buttonActiveBgColor: #4273aa;
    --innerPage-progressBarColor: #1b88b0;
    --innerPage-progressBarActiveColor: linear-gradient(90deg, #001f4e 0%, #ffa400 100%);
    --innerPage-progressBarRemainingColor: #efefef;
    --innerPage-progressBarCompleteColor: #77be43;
    --innerPage-labelBgColor: #efefef;
    --innerPage-linkColor: #ffa400;
    --innerPage-linkHoverColor: #ffc14d;
    --innerPage-linkActiveColor: #ffc14d;
    --innerPage-imageBgColor: #657783;
    --innerPage-mapBgColor: #efefef;
}

.mpp-innerpage p {
    font-family: 'Open Sans';
    text-transform: none;
    letter-spacing: 0px;
    font-size: var(--innerPage-fontSize);
    line-height: var(--innerPage-lineHeight);
    font-weight: var(--innerPage-fontWeight);
}

.mpp-innerpage h1 {
    font-family: var(--innerPage-h1fontFamily);
    letter-spacing: 0px;
    font-size: var(--innerPage-h1fontSize);
    line-height: var(--innerPage-h1lineHeight);
    font-weight: var(--innerPage-h1fontWeight);
}

.mpp-innerpage h2 {
    font-family: var(--innerPage-h2fontFamily);
    font-size: var(--innerPage-h2fontSize);
    line-height: var(--innerPage-h2lineHeight);
    font-weight: var(--innerPage-h2fontWeight);
}

.mpp-innerpage h3 {
    font-family: var(--innerPage-h1fontFamily);
}

.mpp-innerpage--image {
    width: 30%;
    float: right;
    margin: 0 0 1em 2em;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.mpp-innerpage--placeholder {
    display: none;
}

.mpp-innerpage--map {
    height: 100%;
    min-height: 150px;
    width: 100%;
}

.mppw-arrow {
    border-color: #ffa400;
}

.mpp-innerpage--fixed-img {
    width: 30%;
    float: right;
}

@media only screen and (max-width: 700px) {
    .mpp-innerpage--image {
        width: 130%;
        margin: 0 -15%;
        float: none;
        max-height: 250px;
    }
    .mpp-innerpage--datetime {
        font-size: 0.75rem;
    }
    .mpp-innerpage--fixed-img {
        width: 100%;
        float: left;
        background-size: contain !important;
    }
}

/* Card Styles */
.mppw-card--grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 2.5em 3.5%;
    margin-top: 1em;
}

.mpp-card {
    border-bottom-left-radius: var(--card-borderRadius);
    border-bottom-right-radius: var(--card-borderRadius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mpp-card--header {
    height: 215px;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 25%);
    overflow: hidden;
}

.mpp-card--badge {
    background: linear-gradient(160deg, rgba(255, 164, 0, 1) 10%, rgba(255, 164, 0, 0.75) 100%);
    border-top-left-radius: 0;
    font-size: 0.8em;
    line-height: 2em;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);
    opacity: 1;
    padding: 0.25em 1em 0.25em 0.5em;
    color: rgba(255,255,255,0.85);
}

.mpp-card--badge:before {
    content: "\f559";
    font-family: FontAwesome;
    margin: 0 0.5em;
}

.mpp-card--badge.Completed {
    background: linear-gradient(160deg, #c7c9c8aa 33%, #c7c9c866 100%);
}

.mpp-card--image {
    /*box-shadow: var(--card-boxShadow);*/
    height: 100%;
    /*border-top: 1px solid #fafafa;*/
}

.mpp-card--body {
    padding: 0;
    font-family: 'Poppins';
}

.mpp-card--title {
    font-size: 1.75em;
    font-family: 'DM Serif Display';
    color: var(--root-text-color);
    line-height: 1.75em;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 0.75em;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 10%);
}

.mpp-card--description {
    -webkit-line-clamp: 3;
    clear: both;
    font-weight: 600;
    line-height: 1.25em;
    padding: 0 0.75em;
}

.mpp-card--subtitle {
    font-weight: 800;
    padding: 0 0.75em;
    text-align: center;
}

.mpp-card--subtitle:nth-child(1) {
    margin-top: 0.5em;
}

.mpp-card--footer {
    padding: 0;
    text-align: center;
}

.mpp-card--footer .mppw-btn.primary {
    margin: 0;
    margin-top: 1em;
    border-radius: 0;
    width: 100%;
    background: linear-gradient(160deg, rgb(0 31 78 / 95%), rgb(0 31 78 / 85%));
}

.mpp-card--footer .mppw-btn.primary:hover {
    background: var(--form-btn-primary-active);
}

/*
.mpp-card--subtitle:nth-of-type(1):before {
    font-family: 'FontAwesome';
    padding-right: 10px;
    content: "\f041";
}

.mpp-card--subtitle:nth-of-type(2):before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f017";
}
*/

@media only screen and (max-width: 768px) {
    .mppw-card--grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .mpp-card {
        margin-bottom: 2em;
    }
    .mpp-card--header {
        height: 180px;
    }
    .mpp-card--description {
        -webkit-line-clamp: 3;
        font-weight: 400;
    }
    .mpp-card--title {
        font-size: 1.5em;
    }
}

/* Forms */

.form-row {
    align-items: baseline;
}

.form--col {
    min-height: 60px;
}

.mppw-component-container h1, #responseFormTitle h2, #customForm h1, #customForm h3 {
    font-family: 'DM Serif Display';
}

.mpp-form--tabs {
    margin-bottom: 2.5em;
}

.mppw-form-field {
    margin-bottom: 0;
}

.mppw-form-field--is-valid .mppw-form-field__control, .mppw-form-field--is-invalid .mppw-form-field__control, .mppw-form-field__static-container .mppw-form-field__control {
    padding: 0.75em 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.mppw-form-field__label {
    font-weight: 550;
    padding: 0.25em 1em;
    background: transparent;
    display: inline-block;
    width: inherit;
    position: absolute;
    left: -0.25em;
    top: -20px;
    overflow: hidden;
    pointer-events: none;
    transition: none;
    font-size: 12px;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    left: -0.25em;
    top: -20px;
}

.mppw-form-field__control:not([value=""]) + .mppw-form-field__label {
    padding: 0.25em 1em;
    left: 0;
    top: -20px;
}

.mppw-form-field__control__textarea:not([value=""]) + .mppw-form-field__label {
    background: transparent;
}

.mppw-form-field__static-container .mppw-form-field__label {
    top: -20px;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    top: -20px;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    background: transparent;
}

.mppw-form-field__label:focus {
    background-color: none;
}

.mppw-form-field__control {
    padding: 0.75em 1em;
    border: none;
    border-bottom: 2px solid var(--form-field-border);
    background-color: rgba(0,0,0,0.035);
}

.mppw-form-field__control:focus {
    padding: 0.75em 1em;
    background: rgba(0,0,0,0.035);
    box-shadow: var(--form-field-boxshadow--active);
    outline: 0;
}

.mpp-form--tabs label:active, .mpp-form--tabs label.active {
    color: var(--innerPage-linkColor);
}

.mppw-form-field__control:not([value=""]) + .mppw-form-field__label, .mppw-form-field__control:focus + .mppw-form-field__label {
    color: #999;
    font-weight: 550;
}

.mppw-form-field-alt {
    border: none;
}

.mppw-form-field__alt-label {
    margin-bottom: 0.25em;
}

.mppw-form-field_alt-control {
    padding: 0.75em 1em !important;
    margin-bottom: 0;
}

.mppw-form-field .mpp-household--checkbox {
    border: none;
}

#registrationForm h1 {
    text-decoration: underline;
}

#promoCodeContainer label {
    font-weight: bold;
}

#promoCodeText {
    border: 1px solid var(--form-field-border);
    border-radius: 3px;
    padding: 5px 10px;
    background-color: var(--form-field-bgcolor);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: none;
}

#promoCodeText:active {
    border: 1px solid var(--form-field-border--active);
    background-color: var(--form-field-bgcolor--active);
    box-shadow: var(--form-field-boxshadow--active);
}

#registrationTotalContainer {
    border-top: 1px dashed #efefef;
}

#promoCodeTable tr td:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*
@media only screen and (min-width: 700px) {
    .custom-date-input {
        width: 50% !important;
        float: left;
    }
    .mppw-form-field-alt {
        width: 50%;
        float: left;
    }
    .mppw-form-field {
        clear: both;
    }
}

.submit--btn {
    clear:both;
    float:left;
}
*/

/* Buttons */
.mppw-btn {
    border-radius: 4px;
}

.mppw-btn.mpp-innerpage--button.primary {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

.mpp-innerpage--description {
    margin-bottom: 2em;
}

.toggle--btn {
    background: var(--form-btn-primary-bgcolor);
    border-radius: var(--form-field-borderradius);
    padding: 10px 20px;
}

.toggle--btn .active {
    background-color: #ffa400;
    border-color: #AAAAAA;
}

#addPromoCodeButton {
    color: #fff;
    background-color: #001f4a;
    border: 0;
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: bold;
}

#saveAndAddButton {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

#saveAndCheckoutButton {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

/* Login Widget */

.mppw-icon-unlock:before:hover {
    text-decoration: none;
}

.mppw-icon-unlock {
    background: none;
    height: initial;
    width: initial;
}

.mppw-loggedout--username {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.mppw-loggedout--username:hover, .mppw-loggedout--username:focus {
    color: #ffedcb;
    text-decoration: underline;
}

.mppw-login--container {
    color: #fff;
    text-decoration: none;
    justify-content: normal;
    font-weight: 600;
}

.mppw-login--container:hover, .mppw-login--container:focus {
    color: #fff;
    text-decoration: underline;
}

.mppw-icon-person, .mppw-user-photo {
    height: 2em;
    width: 2em;
}

.mppw-login--container::after {
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
    margin-left: 0.75em;
}

.mppw-login--dropdown {
    z-index: 100000;
    border: 1px solid #efefef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.25);
    width: 50%;
    min-width: 210px;
}

.mppw-login--list-item a:hover, .mppw-login--list-item a:focus {
    color: var(--innerPage-linkColor);
}

@media only screen and (max-width: 415px) {
.mppw-login--dropdown {
    width: 110%;
    margin-left: -5%;
    margin-bottom: 2em;
    font-size: 0.9em;
    white-space: nowrap;
    }
}

/* Login Icons */
.mppw-icon-unlock:before {
    /* Login */
    content: "\f2f6";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 1em;
    padding-right: 0.5em;
    vertical-align: top;
}

li.mppw-login--list-item a:before {
    /* Logout */
    font-family: 'FontAwesome';
    font-style: normal;
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-left: -0.5em;
    padding-right: 0.5em;
}

li.mppw-login--list-item i:before {
    /* Logout */
    font-family: 'FontAwesome';
    font-style: normal;
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-left: -0.5em;
    padding-right: 0.5em;
}

li.mppw-login--list-item a#logoutButton:before {
    /* Logout */
    content: "\f2f5";
}

li.mppw-login--list-item a#userAccountLink:before {
    /* My Profile */
    content: "\f2bd";
    font-weight: bolder;
}

li.mppw-login--list-item a i.fas.fa-home:before {
    /* My Household */
    content: "\f015";
}

li.mppw-login--list-item a i.fas.fa-envelope-open-text:before {
    /* My Subscriptions */
    content: "\f658";
}

li.mppw-login--list-item a i.fa-solid.fa-hand-holding-heart:before {
    /* My Faith Promises */
    content: "\f4be";
    font-weight: bolder;
}

li.mppw-login--list-item a i.fas.fa-plane:before {
    /* My Trips */
    content: "\f072";
}

li.mppw-login--list-item a i.fas.fa-money-bill-alt:before {
    /* My Giving */
    content: "\f3d1";
}

li.mppw-login--list-item a i.fas.fa-users:before {
    /* My Groups */
    content: "\f0c0";
}

/* Locale Widget */
#localeDropdown {
    background-color: #efefef;
    color: #333;
}

/* Pledge Campaigns */
#pledgeCampaignDetails .mpp-card--header {
    display: none;
}

#pledgeCampaignDetails h2 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.progress--subtitle {
    margin-bottom: 0.5em;
}

#pledgeForm h2 {
    font-family: var(--innerPage-h1fontFamily);
    margin-bottom: 0;
}

input#InstallmentAmount::before {
    content: "$";
}

div#pledgeAmountButtonWrapper {
    position: relative;
    top: 2em;
}

/* My Household */
.mpp-household {
    font-family: 'Open Sans';
}

.mpp-card--household-text-wrapper p {
    font-size: 1.25em;
    font-family: 'Open Sans';
}

.mpp-household h1 {
    display: none;
}

h2#householdName:after {
    content: " Household";
}

.mpp-innerpage--label {
    font-weight: bolder;
    font-size: 1em;
    height: auto;
    border-radius: 4px;
}

#householdDetails li.mpp-innerpage--label:before {
    content: "\f51d";
    font-family: 'FontAwesome';
    padding-right: 0.75em;
}

.mpp-household .mpp-household--header-wrapper {
    color: #ffa400;
}

.mpp-household .mpp-household--header-wrapper:hover, .mpp-household .mpp-household--header-wrapper:focus {
    color: #da8e06;
}

a#editHouseholdName:before {
    font-family: 'FontAwesome';
    content: "\f044";
    padding-right: 0.75em;
}

img.mpp-icon--household {
    display: none;
}

a#addNewMember:before {
    font-family: 'FontAwesome';
    content: "\f234";
    padding-right: 1em;
}

img.mpp-icon--household {
    display: none;
}

div.mpp-card--household {
    background-color: #fafafa;
}

.mpp-household .mppw-form .mpp-household--form-body {
    padding: 1em 3em;
    background: #fafafa;
}

.mpp-card--household-title p {
    font-size: 1.25em;
}

a.mpp-card--edit-household-btn:before {
    font-family: 'FontAwesome';
    content: "\f044";
    padding-right: 1em;
}

div#emailUnlistedCheck {
    display: none;
}

div#mobileUnlistedCheck {
    display: none;
}

/* My Subscriptions */
.mpp-subscriptions {
    padding-bottom: 3em;
}

.mpp-subscriptions--header {
    padding-top: 3em;
}

.mpp-subscriptions--header h1 {
    display: none;
}

div#subscriptionsBody {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 1em;
    margin-bottom: 2em;
}

/* My Contribution Statements */
#myContributionsDiv .mppw-col {
    flex: 1 1 content;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1000px) {
    div#subscriptionsBody {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
        }
    }

#subscriptionsBody .mpp-card-multiselect {
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: var(--card-boxShadow);
    margin-bottom: 0;
    padding: 1em;
}

#subscriptionsBody .mpp-card-multiselect--image {
    height: 4em;
    width: 4em;
    min-width: 4em;
    margin-right: 2em;
}

/* My Commitments */
#myPledgesWrapper {
    display: none;
}

/* My Trips */
#myMissionTripsWrapper {
    display: none;
}

/* My Groups */
#myGroupsWrapper {
    display: none;
}