/* Global Styles */
:host{
    --card-borderRadius: 0;
    --card-box-shadow: 0em 0.25em 0.5em 0em rgb(0 0 0 / 10%);
    --card-fontSize: 0.85em;
    --card-lineHeight: 1.75em;
    --card-text-color: #777;
    --form-btn-primary-bgcolor: #001f4e;
    --form-btn-primary-hover: #203f6e;
    --form-field-border--active: #ffa400;
    --form-field-border: #ddd;
}

/* Form field settings */
.mppw-form-field--is-valid .mppw-form-field__label, .mppw-form-field--is-invalid .mppw-form-field__label, .mppw-form-field__static-container .mppw-form-field__label, .mppw-form-field__control:not([value=""]) + .mppw-form-field__label, .mppw-form-field__control:focus + .mppw-form-field__label {
    padding: 0.75em 1em 0em 1em;
}

.mppw-form-field--is-valid .mppw-form-field__control, .mppw-form-field--is-invalid .mppw-form-field__control, .mppw-form-field__static-container .mppw-form-field__control {
    padding: 2em 1em 1em 1em;
    font-weight: bold;
}

/* Card Styles */
.mp-card {
    border-radius: var(--card-borderRadius);
}