/*********************/
/* CSS Global Styles */
/*********************/
:host {
    --root-text-color: #333;
    --root-font-size: 1.25rem;
    --root-line-height: 1.25rem;
    --primary: #e07e3c;
    --secondary: #bc204b;
    --tertiary: #bcbcbc;
    --form-field-bgcolor: #f9f9f9;
    --form-field-border: #bcbcbc;
    --form-field-border--active: #e07e3c;
    --form-field-borderradius: 0.5rem;
    --form-valid: #42bc34;
    --form-invalid: #dc3545;
    --form-btn-primary-text: #fff;
    --form-btn-primary-bgcolor: #e07e3c;
    --form-btn-primary-hover: #e07e3c;
    --form-btn-primary-active: #e07e3c;
    --form-btn-secondary-text: #fff;
    --form-btn-secondary-bgcolor: #bc204b;
    --form-btn-secondary-hover: #bc204b;
    --form-btn-secondary-active: #bc204b;
    --form-btn-disabled: #bcbcbc;
    --card-bgcolor: #fff;
    --card-title-color: #333;
    --card-header-bgcolor: #ffffff;
    --box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.35);
    --progress-pledged: #bc204b;
    --progress-received: #e07e3c;
    --root-font-face: 'neue haas display',Helvetica,Arial,Lucida,sans-serif;
    --innerPage-h1fontFamily: 'termina test heavy',Helvetica,Arial,Lucida,sans-serif;
    --alt-text-color: #777777;
}

* {
    font-family: var(--root-font-face);
}

.mppw-component-container {
    font-family: var(--root-font-face);
    color: var(--root-text-color);
    line-height: initial;
    max-width: 90vw;
    border-bottom: 1px solid var(--tertiary);
    padding-bottom: 8vh;
}


/***************/
/* Card Styles */
/***************/

:host {
    --card-title-color: #333333;
    --card-textColor: #333333;
    --card-borderRadius: 0.5rem;
    --card-boxShadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.35);
    --card-primaryColor: #e07e3c;
    --card-badgeBgColor: #ffaa4d;
    --card-headerBgColor: #fff;
    --card-badge-highlightColor: #fff;
    --card-badgeStatusActiveColor: var(--card-primaryColor);
    --card-badgeStatusPendingColor: #253746;
    --card-badgeStatusDiscontinuedColor: #3f4444;
    --card-badgeStatusCompleteColor: #bcbcbc;
    --card-fontSize: 1rem;
    --card-lineHeight: 0.75rem;
    --card-fontSizeHeader: 1.5rem;
    --card-lineHeightHeader: 1.5rem;
    --card-progressBarColor: #bc204b;
    --card-progressBarActiveColor: linear-gradient(90deg, #e07e3c 0%, #bc204b 100%);
    --card-progressBarRemainingColor: #efefef;
    --card-progressBarCompleteColor: #77be43;
    --card-imageBgColor: #bcbcbc;
    --card-checkboxDefaultColor: #bcbcbc;
    --card-labelBgColor: #fff;
}

.mppw-card--grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    margin-top: 1em;
}

.mpp-card {
    border-radius: 0;
    display: inline-block;
    position: relative;
    max-height: 170px;
    overflow: visible;
    border: 1px solid #bcbcbc;
    box-shadow: var(--card-boxShadow);
    transition: border 250ms ease, box-shadow 250ms ease; 
}

.mpp-card:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 1);
    border: 0.25px solid #253746;
    box-shadow: var(--card-boxShadow);
    transition: border 400ms ease, box-shadow 400ms ease;
}

.mpp-card--header {
    height: 100%;
    width:302px;
    float: left;
    overflow: visible;
}

.mpp-card--badge {
    border-radius: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 0.75rem;
    z-index: 100;
    background-color: var(--secondary);
    background-image: linear-gradient(270deg, var(--secondary), var(--primary));
    color: white;
    left: -59px;
    top: 83px;
    transform: rotate(270deg);
}

.mpp-card--badge::after {
    content: "\f559";
    font-family: 'FontAwesome';
    top: 0px;
    border-radius: 0 0.5rem 0 0;
    position: absolute;
    background-color: var(--secondary);
    padding: 0.5rem 0.75rem;
}

.mpp-card--badge.Meets.Online {
    background-color: var(--primary);
    left: -77px;
    top:70px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.mpp-card--badge.Meets.Online::after {
    display: none;
}

.mpp-card--badge.Completed {
    background: linear-gradient(160deg, #c7c9c8aa 33%, #c7c9c866 100%);
}

.mpp-card--badge.full {
    background-color: var(--card-badgeStatusDiscontinuedColor);
    color: var(--alt-text-color);
    border-radius: 0.5rem 0.5rem 0 0;
    left: -43px;
}

.mpp-card--badge.full::after {
    display: none;
}

.mpp-card--image {
    height: 100%;
}

.mpp-card--body {
    width: calc(100% - 305px);
    float: left;
    padding: 0.5rem 1.5rem;
    max-height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mpp-card--title {
    font-size: var(--card-fontSizeHeader);
    line-height: var(--card-lineHeightHeader);
    font-family: var(--innerPage-h1fontFamily);
    font-weight: 800;
    color: var(--card-title-color);
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: left;
}

.mpp-card--description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    height: 5.1rem;
    clear: both;
    line-height: 1.6rem;
    padding-top: 0.5rem;
    color: var(--root-text-color);
}

.mpp-card--description p {
    display: inline;
}

.mpp-card--subtitle {
    font-family: var(--innerPage-h2fontFamily);
    font-size: 1rem;
    font-weight: 600;
    color: var(--root-text-color);
    text-align: left;
    float: left;
    padding-top: 0.5rem;
    margin-right: 4% !important;
}

h4.mpp-card--subtitle:nth-child(1) {
    margin-top: 0.5em;
}

.event-date-range:before, .group-meeting-day:before, .opportunity-start-date:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f073";
    color: var(--primary);
}

.event-location:before, .group-location:before, .opportunity-location:before {
    font-family: 'FontAwesome' !important;
    padding-right: 7px;
    padding-left: 1px;
    content: "\f3c5";
    color: var(--primary);
}

.group-capacity:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f0c0";
    color: var(--primary);
}

.group-start-date:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f017";
    color: var(--primary);
}

.mpp-card--footer {
    display: none;
}

@media only screen and (max-width: 999px) {
    .mpp-card {
        max-height:none;
    }
    .mpp-card--header {
        max-width: 214px;
    }
    .mpp-card--body {
        width: calc(100% - 215px);
    }
    .mpp-card--description {
        display:none;
    }
    .mpp-card--badge {
        left: -37px;
        top: 15px;
        transform: none;
        line-height: 1.5rem;
        padding: 0;
        font-size: 0;
    }
    .mpp-card--badge::after {
        top: 0px;
        border-radius: 0.5rem 0 0 0.5rem;
        position: absolute;
        background-color: var(--card-primaryColor);
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .mppw-card--grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .mpp-card {
        padding-top: 1em;
        padding-bottom: 1rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        width: 100vw;
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-bottom: 0.25px solid var(--tertiary);
        border-radius: 0;
    }
    .mpp-card--body {
        width: 75%;
        padding: 0 0.5rem 0.5rem 1rem;
    }
    .mpp-card--header {
        height: 100%;
        width: 25%;
        max-height: 70px;
    }
    .mpp-card--badge::after {
        font-size: 0;
    }
    .mpp-card--subtitle {
        padding: 0;
        font-size: 0.75rem;
        line-height: 1.2rem;
        letter-spacing: -0.25px;
        float: none;
    }
    .mpp-card--description {
        display: none;
        width: initial;
    }
    .mpp-card--title {
        line-height: 2rem;
        font-size: 1.1rem;
    }
}


/*********************/
/* Inner Page Styles */
/*********************/

.mpp-innerpage--back, .mpp-innerpage--back a {
    color: var(--primary);
}

.mpp-innerpage--fixed-img {
    float: left;
    width: 33%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: var(--card-borderRadius);
}

.mpp-innerpage--subtitle, .mpp-innerpage--labels, .mpp-innerpage--datetime, .mpp-innerpage--description {
    width: 62%;
    float: right;
}

.mpp-innerpage ul.mpp-innerpage--labels {
    margin-bottom: 0;
}

.event-date-range {
    width: 100%;
}

.mpp-innerpage--special {
    float: left;
    clear: left;
    width: 33%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: var(--card-borderRadius);
    background-color: #253746;
}

.mpp-innerpage--special-title, .mpp-innerpage--special-content {
    color: white;
}

.mpp-innerpage--contact {
    background: none;
}

.mpp-innerpage--name {
    font-size: 1rem;
}

div#mapContainer {
    clear: both;
    padding-top: 2rem;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .mpp-innerpage--fixed-img {
        float: none;
        width: 100%;
    }

    h1.mpp-innerpage--subtitle, h2.mpp-innerpage--datetime.event-date-range {
        text-align: center;
        margin-top: 1rem;
    }

    .mpp-innerpage--subtitle, .mpp-innerpage--labels, .mpp-innerpage--datetime, .mpp-innerpage--description {
        width: 100%;
        float: none;
    }

    .mpp-innerpage--special {
        float: none;
        clear: both;
        width: 100%;
    }
}


/***************/
/* Form Styles */
/***************/

.mppw-form-field__control:not([value=""]) + .mppw-form-field__label, .mppw-form-field__control:focus + .mppw-form-field__label {
    color: var(--root-text-color);
    font-weight: bold;
    font-size: 0.9rem;
}

label .mppw-form-field__alt-label-container .mppw-form-field__alt-label-content {
    color: var(--root-text-color);
    font-weight: bold;
    font-size: 0.9rem;
}

#addAnotherButton, #registerAndCheckoutButton, #saveAndAddButton, #saveAndCheckoutButton {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

#registerAndCheckoutButton, #saveAndCheckoutButton{
    background-image: linear-gradient(170deg, var(--secondary), var(--primary));
    transition: background-image 0.2s ease;
}

#registerAndCheckoutButton:hover, #saveAndCheckoutButton:hover{
    background-image: linear-gradient(170deg, var(--secondary), var(--primary) 150%);
    transition: background-image 0.2s ease;
}

/********************************/
/* YOUTUBE EMBED IN DESCRIPTION */
/********************************/
.youtube-video-container {
    position: relative;
    margin: auto auto;
    overflow: hidden;
    width: 100%;
    max-width:600px;
  }
.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }