@import url(/widget-styles-100yr.css);

/********************/
/* Make Faith Promise No Progress Indicator */
/********************/

#pledgeForm > h2, #pledgeForm > h3 {
    display: none;
}

.form--row:has(#TotalPledgeValue) {
    display: none;
}

.mpp-innerpage {
    display: none;
}

.mppw-form-field__static-container {
    min-height: 0px;
}

#Frequency, #Frequency+.mppw-form-field__label, .custom-date-input {
    display: none;
}

.form--col:has(#Frequency) {
    display: none;
}

#TotalPledgeValue {
    font-weight: bold;
}

.mppw-btn.secondary {
    background: var(--brand-cloud);
}

.mppw-btn.secondary:hover {
    background: var(--brand-cloud);
    text-decoration: underline;
}

.secondary:not(:disabled):not(.disabled).active {
    background: var(--form-btn-primary-bgcolor);
    border: none;
}


#InstallmentAmount::before {
    content: "\f155";
}

/* Mobile */
@media (max-width: 600px) {
    #pledgeForm .form--row {
        flex-direction: column;
    }

    #pledgeForm .form--col {
        padding-right: 0;
    }

    #pledgeForm .toggle--btn {
        margin: 0.75rem 1rem !important;
    }
}