@import url(/widget-styles-100yr.css);

/********************/
/* Make Faith Promise No Progress Indicator */
/********************/

.mpp-innerpage {
    display: none;
}

.mppw-form-field__static-container {
    min-height: 0px;
}

#Frequency, #Frequency+.mppw-form-field__label, .custom-date-input {
    display: none;
}