@import url(/widget-styles-100yr.css);

/* Side filter styles */

.mppw-form-wrapper {
    width: 30%;
    margin-left: 3%;
    margin-top: -0.4rem;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 10rem;
}

#suggestGroupDetailsContainer .mppw-form-wrapper {
    /* Make the suggest-a-group form full width */
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    float: none;
    position: relative;
    position: relative;
    top: 0;
}

#eventsEmpty {
    width: 65%;
    position: relative;
    top: 3px;
}

.mppw-form-wrapper h1 {
    display: none;
}

.mppw-right {
    display: none;
}

#advancedSearchSection {
    display: block !important;
}

.mpp-card--subtitle {
    font-size: 0.95rem;
}

@media only screen and (max-width: 1199px) {
    .mppw-form-wrapper {
        width: auto;
        margin-left: 0;
        margin-top: 0;
        float: none;
        position: static;
    }
    
    .mppw-right {
        display: revert;
    }
    
    #advancedSearchSection[style="display: none;"] {
        display: none !important;
    }

    #advancedSearchSection[style="display: none"] {
        display: none !important;
    }

    #advancedSearchSection[style="display: block;"] {
        display: block !important;
    }
    
}