/* Global Styles */
:host{
    --root-text-color: #333333;
    --root-font-size: 1.1em;
    --root-line-height: 1.5em;
    --primary: #ffa400;
    --secondary: #001f4e;
    --card-borderRadius: 4px;
    --card-boxShadow: 0em 0.25em 0.25em 0em rgb(0 0 0 / 15%);
    --card-fontSize: 0.85em;
    --card-lineHeight: 1.75em;
    --card-primaryColor: #001f4e;
    --card-text-color: #777;
    --form-btn-primary-bgcolor: #001f4e;
    --form-btn-primary-hover: #203f6e;
    --form-btn-secondary-text: #999;
    --form-btn-secondary-bgcolor: #FAFAFA;
    --form-btn-secondary-hover: #FFFFFF;
    --form-btn-secondary-active: #EDEDED;
    --form-field-bgcolor--active: rgba(0,0,0,0.035);
    --form-field-border--active: #ffa400;
    --form-field-borderradius: 0;
    --form-field-border: #E0E0E0;
    --form-field-boxshadow--active: 0 0.5em 0.5em 0 rgb(0 0 0 / 5%);
    --form-field-color: #333;
    --form-field-margin: 1.5em;
    --form-field-padding: 1em 0;
    --innerPage-bgColor: #657783;
    --innerPage-textColor: #384249;
    --innerPage-fontSize: 16px;
    --innerPage-lineHeight: 22px;
    --innerPage-fontWeight: 300;
    --innerPage-primaryColor: #001f4e;
    --innerPage-boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    --innerPage-borderRadius: 4px;
    --innerPage-h1fontFamily: 'Open Sans';
    --innerPage-h1fontSize: 2.5em;
    --innerPage-h1fontWeight: 600;
    --innerPage-h1lineHeight: 1.25em;
    --innerPage-h2fontFamily: 'Open Sans';
    --innerPage-h2fontSize: 1.5em;
    --innerPage-h2lineHeight: 1.25em;
    --innerPage-h2fontWeight: 550;
    --innerPage-h3fontSize: 20px;
    --innerPage-h3lineHeight: 28px;
    --innerPage-h3fontFamily: 'Open Sans';
    --innerPage-h3color: #152743;
    --innerPage-h4fontSize: 18px;
    --innerPage-h4lineHeight: 24px;
    --innerPage-dateTimeFontSize: 28px;
    --innerPage-buttonBgColor: var(--innerPage-primaryColor);
    --innerPage-buttonHoverBgColor: #4684ca;
    --innerPage-buttonActiveBgColor: #4273aa;
    --innerPage-progressBarColor: #1b88b0;
    --innerPage-progressBarActiveColor: linear-gradient(90deg, #001f4e 0%, #ffa400 100%);
    --innerPage-progressBarRemainingColor: #efefef;
    --innerPage-progressBarCompleteColor: #77be43;
    --innerPage-labelBgColor: #efefef;
    --innerPage-linkColor: #ffa400;
    --innerPage-linkHoverColor: #ffc14d;
    --innerPage-linkActiveColor: #ffc14d;
    --innerPage-imageBgColor: #657783;
    --innerPage-mapBgColor: #efefef;
}

.mpp-innerpage p {
    font-family: 'Open Sans';
    text-transform: none;
    letter-spacing: 0px;
    font-size: var(--innerPage-fontSize);
    line-height: var(--innerPage-lineHeight);
    font-weight: var(--innerPage-fontWeight);
}

.mpp-innerpage h1 {
    font-family: var(--innerPage-h1fontFamily);
    letter-spacing: 0px;
    font-size: var(--innerPage-h1fontSize);
    line-height: var(--innerPage-h1lineHeight);
    font-weight: var(--innerPage-h1fontWeight);
}

.mpp-innerpage h2 {
    font-family: var(--innerPage-h2fontFamily);
    font-size: var(--innerPage-h2fontSize);
    line-height: var(--innerPage-h2lineHeight);
    font-weight: var(--innerPage-h2fontWeight);
}

.mpp-innerpage h3 {
    font-family: var(--innerPage-h1fontFamily);
}

.mpp-innerpage--image {
    width: 30%;
    float: right;
    margin: 0 0 1em 2em;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.mpp-innerpage--placeholder {
    display: none;
}

.mpp-innerpage--map {
    height: 100%;
    min-height: 150px;
    width: 100%;
}

.mppw-arrow {
    border-color: #ffa400;
}

.mpp-innerpage--fixed-img {
    width: 30%;
    float: right;
}

@media only screen and (max-width: 700px) {
    .mpp-innerpage h1 {
        margin-top: 0.25em;
        text-align:center;
    }
    .mpp-innerpage--labels {
        text-align: center;
    }
    .mpp-innerpage--datetime {
        text-align: center;
        font-size: 0.75rem;
    }
    .mpp-innerpage--image {
        width: 120%;
        margin: 0 -10%;
        float: none;
        max-height: 250px; 
    }
    .mpp-innerpage--fixed-img {
        width: 100%;
        float: left;
        background-size: contain !important;
    }
    #detailsContainer > strong > a {
        float: left;
        border: 1px solid var(--primary);
        padding: 0.5em;
        border-radius: var(--card-borderRadius);
        color: var(--primary);
        text-decoration: none;
    }
    .mppw-ics-link {
        float: right;
        border: 1px solid var(--primary);
        padding: 0.5em;
        border-radius: var(--card-borderRadius);
        color: var(--primary);
        text-decoration: none;
    }
    #registrationFormContainer {
        clear: both;
        overflow: auto;
    }
    #promoCodeContainer {
        margin-top: 1em;
    }
}

/* Card Styles */
.mppw-card--grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    margin-top: 1em;
}

.mpp-card {
    border-radius: 0;
    display: inline-block;
    position: relative;
    max-height: 170px;
    overflow: visible;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.1);
    background-color: rgb(255 255 255 / 0.25);
    transition: background-color 250ms linear, box-shadow 250ms linear; 
}

.mpp-card:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 1);
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.25);
    transition: background-color 250ms linear, box-shadow 250ms linear; 
}

.mpp-card--header {
    height: 100%;
    width:302px;
    float: left;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 25%);
    overflow: visible;
}

.mpp-card--badge {
    background-color: transparent;
    border-top-left-radius: 0;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0;
    line-height: 2.5rem;
    opacity: 0.75;
    color: var(--primary);
    position: absolute;
    left: -125px;
    text-align: right;
}

.mpp-card--badge::after {
    content: "\f559";
    font-family: FontAwesome;
    margin-left: 0.5rem;
    position: absolute;
}

.mpp-card--badge.Completed {
    background: linear-gradient(160deg, #c7c9c8aa 33%, #c7c9c866 100%);
}

.mpp-card--image {
    /*box-shadow: var(--card-boxShadow);*/
    height: 100%;
    /*border-top: 1px solid #fafafa;*/
}

.mpp-card--body {
    width: calc(100% - 305px);
    float: left;
    padding: 0.5rem 1.5rem;
}

.mpp-card--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--innerPage-h1fontFamily);
    font-weight: 800;
    color: var(--secondary);
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: left;
}

.mpp-card--description {
    -webkit-line-clamp: 3;
    overflow: hidden;
    clear: both;
    line-height: 1.25rem;
    color: var(--root-text-color);
}

.mpp-card--description p {
    display: inline;
}

.mpp-card--subtitle {
    font-family: var(--innerPage-h2fontFamily);
    font-size: 1rem;
    font-weight: 600;
    color: var(--root-text-color);
    text-align: left;
}

h4.mpp-card--subtitle:nth-child(1) {
    margin-top: 0.5em;
}

.event-date-range:before, .group-meeting-day:before, .opportunity-start-date:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f073";
}

.event-location:before, .group-location:before, .opportunity-location:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    padding-left: 1px;
    content: "\f3c5";
}

.group-start-date:before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f017";
}

.mpp-card--footer {
    display: none;
    margin-right: 0.25rem;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 1rem;
    bottom: 0.75rem;
}

.mpp-card--footer .mppw-btn.primary {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    width: 100%;
    background: linear-gradient(160deg, rgb(0 31 78 / 95%), rgb(0 31 78 / 85%));
}

.mpp-card--footer .mppw-btn.primary:hover {
    background: var(--form-btn-primary-active);
}

.mppw-btn.secondary {
    background: var(--form-btn-secondary-bgcolor);
    border: 1px solid var(--form-field-border);
    box-shadow: none;
    color: var(--form-btn-secondary-text);
    font-weight: bold;
}

/*
.mpp-card--subtitle:nth-of-type(1):before {
    font-family: 'FontAwesome';
    padding-right: 10px;
    content: "\f041";
}

.mpp-card--subtitle:nth-of-type(2):before {
    font-family: 'FontAwesome';
    padding-right: 7px;
    content: "\f017";
}
*/

@media only screen and (max-width: 999px) {
    .mpp-card {
        max-height:120px;
    }
    .mpp-card--header {
        max-width: 214px;
    }
    .mpp-card--body {
        width: calc(100% - 215px);
    }
    .mpp-card--description {
        display:none;
    }
    .mpp-card--badge {
        left: -12px;
        line-height: 1.5rem;
        font-size: 0;
        opacity: 1;
        text-shadow: 0.5px 0.5px 0.5px white;
    }
    .mpp-card--badge::after {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 768px) {
    .mppw-card--grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .mpp-card {
        margin-bottom: 1em;
        padding-bottom: 1rem;
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 0;
    }
    .mpp-card--body {
        width: 75%;
        padding: 0 0.5rem 0.5rem 1rem;
    }
    .mpp-card--header {
        height: 100%;
        width: 25%;
    }
    .mpp-card--subtitle {
        font-size: 0.75rem;
        line-height: 0.95rem;
        letter-spacing: -0.25px;
    }
    .mpp-card--description {
        display: none;
        width: initial;
    }
    .mpp-card--footer {
        display: none;
    }
    .mpp-card--title {
        line-height: 2rem;
        box-shadow: none;
    }
    .event-date-range::before{
        content: none;
    }
    .event-location::before{
        content: none;
    }
}

/* Forms */

.form-row {
    align-items: baseline;
}

.form--row {
    padding-bottom: 1.5rem;
}

.form--col {
    min-height: 60px;
}

div#formFields {
    padding-top: 0.5em;
}

.mppw-component-container h1, #responseFormTitle h2, #customForm h1, #customForm h3 {
    font-family: var(--innerPage-h3fontFamily);
}

.mpp-form--tabs {
    margin-bottom: 2.5em;
}

.mppw-form-field {
    margin-bottom: 0;
}

.mppw-form-field--is-valid .mppw-form-field__control, .mppw-form-field--is-invalid .mppw-form-field__control, .mppw-form-field__static-container .mppw-form-field__control {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.mppw-form-field__label {
    color: #777;
    font-size: 1rem;
    font-weight: 550;
    padding: 0.5rem 0;
    background: transparent;
    display: inline-block;
    width: inherit;
    position: absolute;
    left: 0;
    top: -1.75rem;
    overflow: hidden;
    pointer-events: none;
    transition: none;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    left: -0.25em;
    top: -20px;
}

.mppw-form-field__control:not([value=""]) + .mppw-form-field__label {
    padding: 0.25em 1em;
    left: 0;
    top: -20px;
}

.mppw-form-field__control__textarea:not([value=""]) + .mppw-form-field__label {
    background: transparent;
}

.mppw-form-field__static-container .mppw-form-field__label {
    top: -20px;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    top: -20px;
}

.mppw-form-field__control:focus + .mppw-form-field__label {
    background: transparent;
}

.mppw-form-field__label:focus {
    background-color: none;
}

.mppw-form-field__control {
    padding: 0.75em 1em;
    border: none;
    border-bottom: 2px solid var(--form-field-border);
    background-color: rgba(0,0,0,0.035);
    border: 1px solid #FAFAFA;
    border-bottom: 2px solid var(--form-field-border);
    padding: 0.75rem 0.5rem !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.mppw-form-field__control:focus {
    padding: 0.75em 1em;
    background: rgba(0,0,0,0.035);
    box-shadow: var(--form-field-boxshadow--active);
    outline: 0;
    border-bottom: 2px solid var(--primary);
}

.mpp-form--tabs label:active, .mpp-form--tabs label.active {
    color: var(--innerPage-linkColor);
}

.mppw-form-field__control:not([value=""]) + .mppw-form-field__label, .mppw-form-field__control:focus + .mppw-form-field__label {
    color: #777;
    font-size: 1rem;
    font-weight: 550;
    padding: 0.5rem 0;
    background: transparent;
    display: inline-block;
    width: inherit;
    position: absolute;
    left: 0;
    top: -1.75rem;
    overflow: hidden;
    pointer-events: none;
    transition: none;
}

.mppw-form-field-alt {
    border: none;
    padding: 0.5em 0;
}

.mppw-form-field__alt-label {
    margin-bottom: 0.25em;
    font-size: 1rem;
    font-weight: 550;
    padding: 0;
}

label .mppw-form-field__alt-label-container .mppw-form-field__alt-label-content {
    color: #777;
}

.mppw-form-field_alt-control {
    padding: 0.75em 1em !important;
    margin-bottom: 0;
}

.mppw-form-field .mpp-household--checkbox {
    border: none;
}

.mpp-household--form-row {
    margin-top: 1rem;
}

.mpp-household--form-row.w-50 {
    margin-top: 2rem;
}

#registrationForm h1 {
    text-decoration: underline;
}

.product-form td {
    padding: 0.75em 0;
}

.mppw-form-field--is-valid .product-form__control {
    padding: inherit;
}


#updateInformationWarningMessage {
    margin-bottom: 2rem;
}

#singlePriceContainer {
    display: none;
}

#promoCodeContainer label {
    font-weight: bold;
}

#promoCodeText {
    border: 1px solid var(--form-field-border);
    border-radius: 3px;
    padding: 5px 10px;
    background-color: var(--form-field-bgcolor);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: none;
}

#promoCodeText:active {
    border: 1px solid var(--form-field-border--active);
    background-color: var(--form-field-bgcolor--active);
    box-shadow: var(--form-field-boxshadow--active);
}

#registrationTotalContainer {
    border-top: 1px dashed #efefef;
}

#promoCodeTable tr td:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3.mpp-household--form-header {
    text-decoration: underline;
}

#removeFromDirectoryCheck {
    display: none;
}

#emailUnlistedCheck {
    display: none;
}

#mobileUnlistedCheck {
    display: none;
}

label[for=emailUnlistedCheck] {
    display:none !important;
}

label[for=mobileUnlistedCheck] {
    display:none !important;
}

label[for=doNotTextCheck] {
    display:none !important;
}

label[for=bulkEmailOptOutCheck] {
    display:none !important;
}


@media only screen and (min-width: 768px) {
    #contactInfoForm > .mppw-row > .mppw-col {
        flex: 0 1 100%;
        margin-bottom: 1.5rem;
    }
    #addressFormWrapper > .mpp-row {
        margin-bottom: 1.5rem;
    }    
}

@media only screen and (max-width: 700px) {
    .mppw-form-field {
        margin-top: 2.5rem;
    }

    .mpp-household .mppw-form-field__control:not([value=""]) {
        padding: 0.75em 1em;
        font-weight: bold;
    }

    .mpp-household--checkbox-container > label {
        display: none;
    }

}

div[data-id="mp_customform_2389"]{
    /*Hides Praise Report related field */
    display: none;
}

/* Buttons */
.mppw-btn {
    border-radius: 4px;
}

.mppw-btn.mpp-innerpage--button.primary {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

.mpp-innerpage--description {
    margin-bottom: 2em;
}

.toggle--btn {
    background: var(--form-btn-primary-bgcolor);
    border-radius: var(--form-field-borderradius);
    padding: 10px 20px;
}

.toggle--btn .active {
    background-color: #ffa400;
    border-color: #AAAAAA;
}

#addPromoCodeButton {
    color: #fff;
    background-color: #001f4a;
    border: 0;
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: bold;
}

#saveAndAddButton {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

#saveAndCheckoutButton {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

/* Login Widget */

.mppw-icon-unlock:before:hover {
    text-decoration: none;
}

.mppw-icon-unlock {
    background: none;
    height: initial;
    width: initial;
}

.mppw-loggedout--username {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.mppw-loggedout--username:hover, .mppw-loggedout--username:focus {
    color: #ffedcb;
    text-decoration: underline;
}

.mppw-login--container {
    color: #fff;
    text-decoration: none;
    justify-content: normal;
    font-weight: 600;
}

.mppw-login--container:hover, .mppw-login--container:focus {
    color: #fff;
    text-decoration: underline;
}

.mppw-icon-person, .mppw-user-photo {
    height: 2em;
    width: 2em;
}

.mppw-login--container::after {
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
    margin-left: 0.75em;
}

.mppw-login--dropdown {
    z-index: 100000;
    border: 1px solid #efefef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.25);
    width: 50%;
    min-width: 210px;
}

.mppw-login--list-item a:hover, .mppw-login--list-item a:focus {
    color: var(--innerPage-linkColor);
}

@media only screen and (max-width: 415px) {
.mppw-login--dropdown {
    width: 110%;
    margin-left: -5%;
    margin-bottom: 2em;
    font-size: 0.9em;
    white-space: nowrap;
    }
}

/* Login Icons */
.mppw-icon-unlock:before {
    /* Login */
    content: "\f2f6";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 1em;
    padding-right: 0.5em;
    vertical-align: top;
}

li.mppw-login--list-item a:before {
    /* Logout */
    font-family: 'FontAwesome';
    font-style: normal;
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-left: -0.5em;
    padding-right: 0.5em;
}

li.mppw-login--list-item i:before {
    /* Logout */
    font-family: 'FontAwesome';
    font-style: normal;
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-left: -0.5em;
    padding-right: 0.5em;
}

li.mppw-login--list-item a#logoutButton:before {
    /* Logout */
    content: "\f2f5";
}

li.mppw-login--list-item a#userAccountLink:before {
    /* My Profile */
    content: "\f2bd";
    font-weight: bolder;
}

li.mppw-login--list-item a i.fas.fa-home:before {
    /* My Household */
    content: "\f015";
}

li.mppw-login--list-item a i.fas.fa-envelope-open-text:before {
    /* My Subscriptions */
    content: "\f658";
}

li.mppw-login--list-item a i.fa-solid.fa-hand-holding-heart:before {
    /* My Faith Promises */
    content: "\f4be";
    font-weight: bolder;
}

li.mppw-login--list-item a i.fas.fa-plane:before {
    /* My Trips */
    content: "\f072";
}

li.mppw-login--list-item a i.fas.fa-money-bill-alt:before {
    /* My Giving */
    content: "\f3d1";
}

li.mppw-login--list-item a i.fas.fa-users:before {
    /* My Groups */
    content: "\f0c0";
}

/* Locale Widget */
#localeDropdown {
    background-color: #efefef;
    color: #333;
}

/* Pledge Campaigns */
#pledgeCampaignDetails .mpp-card--header {
    display: none;
}

#pledgeCampaignDetails h2 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.progress--subtitle {
    margin-bottom: 0.5em;
}

#pledgeForm h2 {
    font-family: var(--innerPage-h1fontFamily);
    margin-bottom: 0;
}

input#InstallmentAmount::before {
    content: "$";
}

div#pledgeAmountButtonWrapper {
    position: relative;
    top: 2em;
}

/* My Household */
.mpp-household {
    font-family: 'Open Sans';
}

h2#householdName {
    font-family: var(--innerPage-h2fontFamily);
    color: #606060;
}

.mpp-innerpage--address-container {
    font-size: 1rem;
}

h2.mpp-household--header {
    font-family: var(--innerPage-h2fontFamily);
    color: #606060;
}

.mpp-card--household-text-wrapper p {
    font-size: 1.25em;
    font-family: 'Open Sans';
}

.mpp-household h1 {
    display: none;
}

h2#householdName:after {
    content: " Household";
}

.mpp-innerpage--label {
    font-weight: bolder;
    font-size: 1em;
    height: auto;
    border-radius: 4px;
}

#householdDetails li.mpp-innerpage--label:before {
    content: "\f51d";
    font-family: 'FontAwesome';
    padding-right: 0.75em;
}

.mpp-household .mpp-household--header-wrapper {
    color: #ffa400;
}

.mpp-household .mpp-household--header-wrapper:hover, .mpp-household .mpp-household--header-wrapper:focus {
    color: #da8e06;
}

a#editHouseholdName:before {
    font-family: 'FontAwesome';
    content: "\f044";
    padding-right: 0.75em;
}

img.mpp-icon--household {
    display: none;
}

a#addNewMember:before {
    font-family: 'FontAwesome';
    content: "\f234";
    padding-right: 1em;
}

img.mpp-icon--household {
    display: none;
}

div.mpp-card--household {
    background-color: #fafafa;
}

.mpp-household .mpp-card--household {
    border-color: #fafafa;
}

.mpp-household .mppw-form .mpp-household--form-body {
    padding: 1em 3em;
    background: #fafafa;
}

.mpp-card--household-title p {
    font-size: 1.25em;
}

a.mpp-card--edit-household-btn:before {
    font-family: 'FontAwesome';
    content: "\f044";
    padding-right: 1em;
}

div#emailUnlistedCheck {
    display: none;
}

div#mobileUnlistedCheck {
    display: none;
}

@media only screen and (max-width: 700px) {
    .mpp-household .mpp-household--header-container {
        display: inline-block;
    }

    .mpp-household .mpp-household--form-subheader {
        line-height: inherit;
    }
}

/* My Subscriptions */
.mpp-subscriptions {
    padding-bottom: 3em;
}

.mpp-subscriptions--header {
    padding-top: 3em;
}

.mpp-subscriptions--header h1 {
    display: none;
}

div#subscriptionsBody {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 1em;
    margin-bottom: 2em;
}

/* My Contribution Statements */
#myContributionsDiv .mppw-col {
    flex: 1 1 content;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1000px) {
    div#subscriptionsBody {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
        }
    }

#subscriptionsBody .mpp-card-multiselect {
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: var(--card-boxShadow);
    margin-bottom: 0;
    padding: 1em;
}

#subscriptionsBody .mpp-card-multiselect--image {
    height: 4em;
    width: 4em;
    min-width: 4em;
    margin-right: 2em;
}

/* My Commitments */
#myPledgesWrapper {
    display: none;
}

/* My Trips */
#myMissionTripsWrapper {
    display: none;
}

/* My Groups */
#myGroupsWrapper {
    display: none;
}