@import url('../dcc-appbase.css');

#Reading-Plan {
  width: 100%;
}

#Reading-Plan img {
  max-width: 100%;
  display: block;
  margin: auto auto;
}

h1#plan-title {
  margin: 1rem 0;
}

#plan-dates {
  text-wrap: balance;
}

#plan-description {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
}

wa-progress-bar {
  height: 2px;
  --indicator-color: var(--brand-secondary);
  background-color: var(--brand-quaternary);
  width: 88%;
  margin: 2rem 6%;
}

@media (prefers-color-scheme: dark) {
  wa-progress-bar {
    --indicator-color: var(--brand-sunshine);
  }
}

#reading-plan-days {
  margin: 2rem auto;
  padding: 0 7%;
}

.dcc-card[data-active="1"] {
  background-color: var(--brand-primary);
  background-image: linear-gradient(-10deg, var(--brand-primary) 0%, var(--brand-secondary) 90%);
  border: 2px solid var(--brand-sunshine);
  color: white;
  text-align: left;
  cursor: pointer;
}

.reading-plan-day[data-active="0"] {
  background-color: var(--gray-light);
  opacity: 0.25;
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  .dcc-card[data-active="0"] {
    color: var(--gray-med);
  }
}

.dcc-card[data-completed="1"] {
  background-image: none;
  border: none;
}

.day-number {
  float: left;
}

.day-date {
  font-weight: normal;
  font-style: normal;
  display: none;
}

.dcc-card .day-passages {
  font-weight: normal;
}

.day-title {
  margin: 0;
}

.day-button {
  text-align: center;
  margin-top: 1rem;
}

/* Reading Plan Day Styles */
a#reading-plan-back-button {
  margin-top: 1rem;
  display: inline-block;
}

#day-date {
  margin-top: -1rem;
}

#day-passages {
  text-align: center;
  font-size: 1.1rem;
  margin: 2rem auto;
}

#day-devotion {
  margin-bottom: 2.5rem;
}

#day-devotion ul, #day-devotion ol {
  padding: 0 2rem;
  margin: 0;
}

@keyframes day-complete {
  0% { opacity: 0; height: 0; padding: 0; line-height:0;} 
  100% { opacity: 1; height: 30px; padding: 1rem; line-height:1rem;}
}

#day-completed.animation { 
  opacity: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  animation: day-complete 2s ease forwards; 
}

#day-completed {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(-190deg, var(--brand-primary), var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-image-source: linear-gradient(160deg,var(--brand-primary),var(--brand-secondary),var(--brand-secondary),var(--brand-primary));
  border-width: 1px;
  border-image-slice: 2;
  border-style: solid;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  height: 30px;
  padding: 1rem;
  line-height: 1rem;
}