<html>
<head>
    <title>Reading Plan Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            html, body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/themes/default.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/webawesome.loader.js"></script>
    <link rel="stylesheet" href="reading-plan.css">
    <link rel="stylesheet" href="https://dream-city-church.github.io/dcc-widgets/dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"></script>
</head>
<body>
    <script typle="text/javascript">
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // dark mode
            document.documentElement.classList.add('wa-theme-default-dark');
        }
    </script>

    <div
        id="Reading-Plan-Day"
        data-component="CustomWidget"
        data-sp="api_custom_ReadingPlanDay"
        data-params="@ContactGUID=[cid]&@ReadingPlanID=[ReadingPlanID]&@ReadingPlanDayID=[ReadingPlanDayID]"
        data-templateid="Reading-Plan-Day-template"
        data-requireUser="false"
        data-cache="false"
        data-debug="false"
        data-host="dreamcitychurch"
    ></div>
    <script id="Reading-Plan-Day-template" type="text/template">
        {% for day in DataSet1 %}
            <a href='reading-plan.html?ReadingPlanID={{ day.Reading_Plan_ID }}{% if day.Contact_GUID != "" and day.Contact_GUID != "null" %}&cid={{ day.Contact_GUID }}{% endif %}' id="reading-plan-back-button" class="dcc-wrapper dcc-breadcrumb"><i class="fas fa-arrow-left"></i> Back to Reading Plan</a>
            {% if day.File_GUID != "" and day.File_GUID != null %}
                <img id="reading-plan-image" src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{ day.File_GUID }}" />
            {% endif %}
            <div id="reading-plan-card" class="dcc-wrapper">
                <h2 id="day-title" class="dcc-heading">{{ day.Title }}</h2>
                <div id="day-date" class="dcc-subheading">Day {{ day.Day_Number }} - {{ day.Date }}</div>
                <div id="day-passages"><a href="dreamcitychurch://reading_plan_day/{{ day.Reading_Plan_Day_ID }}" class="dcc-button button-outline"><i class="fa-duotone fa-solid fa-book-bible" style="--fa-primary-color: var(--brand-primary); --fa-secondary-color: var(--brand-primary);"></i> {{ day.Passages | replace: "\n", ", "}}</a></div>
                <div id="day-devotion" class="dcc-paragraph">{{ day.Devotion }}</div>
                {% if day.Completed == 1 %}
                    <div id="day-completed">Day Complete</div>
                {% endif %}
            </div>
        <a href='reading-plan.html?ReadingPlanID={{ day.Reading_Plan_ID }}{% if day.Contact_GUID != "" and day.Contact_GUID != "null" %}&cid={{ day.Contact_GUID }}{% endif %}' id="reading-plan-back-button" class="dcc-wrapper dcc-breadcrumb" style="margin-top:2.5rem;margin-bottom:1.5rem;"><i class="fas fa-arrow-left"></i> Back to Reading Plan</a>
        {% endfor %}
    </script>

    <script type="text/javascript" src="../dcc-getUserInfo.js"></script>
    <script type="text/javascript" src="reading-plan-action.js"></script>
</body>
</html>