@import url('../dcc-appbase.css');

#Reading-Plan {
  width: 100%;
}

#Reading-Plan img {
  max-width: 100%;
  display: block;
  margin: auto auto;
}

h1#plan-title {
  margin: 1rem 0;
}

#plan-dates {
  text-wrap: balance;
}

#plan-description {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
}

#reading-plan-days {
  margin: 2rem auto;
  padding: 0 7%;
}

.reading-plan-day[data-active="0"] {
  opacity: 0.5;
}

.day-number {
  float: left;
}

.day-date {
  font-weight: normal;
}

.day-title {
  margin: 0;
}

.day-button {
  text-align: center;
  margin-top: 1rem;
}

/* Reading Plan Day Styles */
a#reading-plan-back-button {
  margin-top: 1rem;
}

#day-date {
  margin-top: -1rem;
}

#day-passages {
  text-align: center;
  font-size: 1.1rem;
  margin: 2rem auto;
}

#day-devotion {
  margin-bottom: 4rem;
}

#day-devotion ul, #day-devotion ol {
  padding: 0 2rem;
  margin: 0;
}