<html>
<head>
    <title>Reading Plan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            html, body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/themes/default.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/webawesome.loader.js"></script>
    <link rel="stylesheet" href="reading-plan.css">
    <link rel="stylesheet" href="https://dream-city-church.github.io/dcc-widgets/dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"></script>
</head>
<body>
    <script typle="text/javascript">
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // dark mode
            document.documentElement.classList.add('wa-theme-default-dark');
        }
    </script>

    <div
        id="Reading-Plan"
        data-component="CustomWidget"
        data-sp="api_custom_ReadingPlan"
        data-params="@ContactGUID=[cid]&@ReadingPlanID=[ReadingPlanID]"
        data-templateid="Reading-Plan-template"
        data-requireUser="false"
        data-cache="false"
        data-debug="true"
        data-host="dreamcitychurch"
    ></div>
    <script id="Reading-Plan-template" type="text/template">
        {% for plan in DataSet1 %}
            {% if plan.File_GUID != "" and plan.File_GUID != null %}
                <img id="reading-plan-image" src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{ plan.File_GUID }}" />
            {% endif %}
            <div id="reading-plan-details" class="dcc-wrapper">
                <h1 id="plan-title" class="dcc-heading">{{ plan.Reading_Plan }}</h1>
                <div id="plan-dates" class="dcc-subheading">{{ plan.Start_Date }} through {{ plan.End_Date }}</div>
                <div id="plan-description" class="dcc-paragraph-bold">{{ plan.Description | newline_to_br }}</div>
            </div>
        {% endfor %}
        <div id="reading-plan-days" class="dcc-wrapper">
        {% for day in DataSet2 %}
            <div class="reading-plan-day dcc-card" data-active={{day.Active}}>
                <h3 class="day-title dcc-heading">{{ day.Title }}</h3>
                <div class="day-date dcc-subheading">{{ day.Date }}</div>
                {% if day.Active == 1 %}
                    <div class="day-button"><a href="reading-plan-day.html?ReadingPlanID={{ day.Reading_Plan_ID }}&ReadingPlanDayID={{ day.Reading_Plan_Day_ID }}" class="dcc-button">Read This Day</a></div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </script>
</body>
</html>