:root {
    --primary-color: #bc204b;
    --secondary-color: #f1f1f1;
    --tertiary-color: #555;
    --quaternary-color: #333;
    --box-shadow: 0.15rem 0.35rem 0.15rem rgb(0 0 0 / 0.05);
}

body, html {
    margin:0;
    padding:0;
    font-family: 'Open Sans',sans-serif;
}

wa-button-group .button-group {
  flex-wrap: nowrap;
}

#top-drawer {
  position: absolute;
  top: -2px;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.drawer {
    position: relative;
    width: 100%;
}

.drawer-toggle {
    display: none;
}

.drawer-label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.drawer-label .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    transition: transform 0.2s ease;
}

.drawer-toggle:checked + .drawer-label .arrow {
    transform: rotate(180deg);
}

.drawer-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f1f1f1;
    padding: 0 10px;
    border-radius: 5px;
}

.drawer-toggle:checked ~ .drawer-content {
     /* Adjust based on content */
     padding: 3rem 0;
     max-height: fit-content;
}

#prayerapp {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
}

#card-container {
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}

.card {
  display: block;
  width: 80%;
  max-height: 65vh;
  overflow: scroll;
  margin: 5%;
  padding: 5% 5%;
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  transition: opacity 0.8s ease, transform 1s ease, background-color 0.8s ease;
}

.card::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.card.visible, .card.initial {
  opacity: 1;
  transform: translateX(0%);
}

.card.dismissed {
  opacity: 0;
  transform: translateX(-100%);
  background-color: var(--quaternary-color);
}

.card.loaded {
  opacity: 0;
  transform: translateX(100%);
  background-color: var(--primary-color);
}

.card .title {
  font-weight: bold;
  font-size: 1.35rem;
  text-align: center;
}

.card .date {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card .content {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.read-more {
  position: sticky;
  bottom: -25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  height: 40px;
  z-index: 9;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(transparent, #f1f1f1 45%);
  font-weight: bold;
}

.read-more .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--quaternary-color);
}

#action-button, #dismiss-button {
  position: fixed;
  z-index: 99;
  left: calc(100vw - 120px);
  top: calc(100vh - 140px);
  font-size: 30px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  text-align: center;
  width: 65px;
  height: 50px;
  padding-top: 15px;
  border-radius: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#action-button:active, #dismiss-button:active {
  filter: brightness(0.9);
  box-shadow: none;
}

#action-button.disabled {
  background-color: var(--tertiary-color);
  border: 1px solid var(--quaternary-color);
  color: var(--quaternary-color);
  cursor: not-allowed;
}

#dismiss-button {
  left: initial;
  right: calc(100vw - 120px);
  top: calc(100vh - 120px);
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  color: var(--tertiary-color);
}

#dismiss-button i {
  left: 3px;
  top: 2px;
  position: relative;
}

#dismiss-button i.fa-spinner,#action-button i.fa-spinner {
  left: 1px;
  top: 3px;
}

#dismiss-button.disabled {
  border: 1px solid var(--quaternary-color);
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  cursor: not-allowed;
}

#action-message {
  position: fixed;
  z-index: 99;
  top: calc(100vh - 200px);
  width: 40%;
  text-align: center;
  left: calc(50% - 20%);
  font-size: 0.8rem;
  background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 0.5rem 0;
  border-radius: 4rem;
  display: none;
  opacity: 0;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: var(--secondary-color);
  }

  .drawer-label {
    background-color: var(--primary-color);
  }

  .drawer-content {
    background-color: #222;
  }

  .card {
    background-color: #444;
  }

  .read-more {
    background-image: linear-gradient(transparent, #444 45%);
  }

  .read-more .arrow {
    border-top: 10px solid var(--secondary-color);
  }

  #action-button {
    background-color: #bc204b;
  }

  #dismiss-button {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
  }
}

#action-message.animate {
  animation: floatMessage 4s ease-out 1;
  display: block;
}

@keyframes floatMessage {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  3% {
    opacity: 1;
    transform: translateY(-60px);
  }
  5% {
    opacity: 1;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}