<html>
<head>
    <title>Prayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            html, body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/themes/default.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.5/dist/webawesome.loader.js"></script>
    <link rel="stylesheet" href="prayerapp.css">
    <link rel="stylesheet" href="https://dream-city-church.github.io/dcc-widgets/dccw-stylesheet.css">
    <script type="text/javascript" src="https://dream-city-church.github.io/dcc-widgets/dcc-prayerRequest.js"></script>
    <script src="prayerapp.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"></script>
</head>
<body>
    <script typle="text/javascript">
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // dark mode
            document.documentElement.classList.add('wa-theme-default-dark');
        }
    </script>

    <div id="top-drawer">
        <div class="drawer">
            <input type="checkbox" id="drawer-toggle" class="drawer-toggle">
            <label for="drawer-toggle" class="drawer-label">
                Submit <span class="arrow"></span> Prayer
            </label>
            <div class="drawer-content">
                <div id="divider"></div>
                <dcc-PrayerRequestForm style="max-width:600px;margin-right:auto;margin-left:auto;">
                </dcc-PrayerRequestForm>
            </div>
        </div>
    </div>

    <div id="prayerapp">
        <h3 id="prayer-heading">Pray For Others</h3>
        <div id="card-container">
            <div class="card initial prayer-request" data-feedback-guid="">
                <wa-skeleton effect="sheen" style="width: 3rem;height: 3rem;float: left;"></wa-skeleton>
                <div class="title"><wa-skeleton effect="sheen" style="width:55%;height:1.5rem;margin:0.3rem auto;float:right;"></wa-skeleton></div>
                <div class="date"><wa-skeleton effect="sheen" style="width:50%;float:right;;"></wa-skeleton></div>
                <div class="content" style="clear: both;padding-top: 1.5rem;">
                    <wa-skeleton effect="sheen" style="width:90%;height:1.2rem;margin-bottom:0.5rem;"></wa-skeleton>
                    <wa-skeleton effect="sheen" style="width:97%;height:1.2rem;margin-bottom:0.5rem;"></wa-skeleton>
                    <wa-skeleton effect="sheen" style="width:94%;height:1.2rem;margin-bottom:0.5rem;"></wa-skeleton>
                    <wa-skeleton effect="sheen" style="width:98%;height:1.2rem;margin-bottom:0.5rem;"></wa-skeleton>
                    <wa-skeleton effect="sheen" style="width:83%;height:1.2rem;"></wa-skeleton>
                </div>
            </div>
        </div>
        <div id="dismiss-button" class="disabled" data-action-type-id="3">
            <i class="fa-regular fa-forward"></i>
        </div> 
        <div id="action-button" class="disabled" data-action-type-id="1">
            <i class="fa-solid fa-hands-praying"></i>
        </div>
        <div id="action-message">
        </div>       
    </div>

    <div id="bottom-drawer">
        <input type="checkbox" id="bottom-drawer-toggle" class="bottom-drawer-toggle">
        <label for="bottom-drawer-toggle" class="bottom-drawer-label">
            <i class="fa-solid fa-chevron-up"></i> My Prayer <i class="fa-solid fa-chevron-up"></i>
        </label>
        <div class="bottom-drawer-content">
            <div id="divider"></div>
            <div
                id="MyPrayerRequests"
                data-component="CustomWidget"
                data-sp="api_custom_MyPrayersWidget"
                data-params="@ContactGUID=[cid]"
                data-templateid="MyPrayerRequests-template"
                data-requireUser="false"
                data-cache="false"
                data-debug="true"
                data-host="dreamcitychurch"
            ></div>
            <script id="MyPrayerRequests-template" type="text/template">
                <div id="prayed-for"><i class="fa-solid fa-hands-praying"></i> prayed for <span class="number-highlight">{{ DataSet1.first.prayed_for }}</span> people</div>
                <div id="celebrated"><i class="fa-solid fa-party-horn"></i> celebrated with <span class="number-highlight">{{ DataSet2.first.celebrated_with }}</span> people</div>
                <h3 id="prayer-heading">My Prayer Requests</h3>
                <div id="users-prayers">
                    {% for prayer in DataSet3 %}
                        <div class="user-card {{prayer.Type}}" data-feedback-guid="{{ prayer.GUID }}">
                            <div class="visibility">
                                {% if prayer.Visibility == "public" %}
                                    <i class="fa-solid fa-eye"></i> {{ prayer.PrayerCounter }}
                                {% else %}
                                    <i class="fa-solid fa-eye-slash"></i>
                                {% endif %}
                            </div>
                            <div class="title">{{ prayer.Title }}</div>
                            <div class="date">{{ prayer.Date | date: "%B %e, %Y" }}</div>
                            <div class="content">{{ prayer.Description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </script>
        </div>
    </div>
</body>
</html>