#HighlightedEventsWidget {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2rem;
    width: max-content;
}

.highlighted-event {
    min-width: 200px;
    max-width: 200px;
    display: inline-block;
    flex: 0;
}

img.event-image {
    display: inline-block;
    aspect-ratio: 16 / 9;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

h3.event-title {
    margin: 0;
}

p.event-date {
    margin: 0;
    font-size: 1rem;
}