<html>
<head>
    <title>My Week</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #000;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="dcc-MyWeek-CSS.css">
    <script
        type="text/javascript"
        src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"
    ></script>
</head>
<body>
    <div
    id="MyWeekWidget"
    data-component="CustomWidget"
    data-sp="api_custom_MyWeekWidget"
    data-params="@UserGUID=[UG]"
    data-templateId="MyWeekWidget-Template"
    data-requireUser="false"
    data-cache="false"
    data-debug="false"
    data-host="dreamcitychurch"
    ></div>

    <script id="MyWeekWidget-Template" type="text/template">
        <div>
            {% for days in DataSet1 %}
                <div class='DayCard'>
                    <h2 class='DayHeading'>{{days.FormattedDate}}</h2>
                    {% assign church_events = DataSet3 | where: "DayNumber", days.DayNumber %}
                    {% assign participant_events = DataSet2 | where: "DayNumber", days.DayNumber %}
                    {% if church_events.size == 0 and participant_events.size == 0 %}
                        <div class='NoEvents'>Nothing scheduled for this day.</div>
                    {% endif %}
                    {% for event in church_events %}
                        <div class='ChurchEvent'>
                            <div class='EventHeader'>{{event.Event_Title}}</div>
                        </div>
                    {% endfor %}
                    {% for event in participant_events %}
                        <div class='ParticipantEvent'>
                            <div class='EventHeader'>{{event.Event_Start_Date | date: "%l:%M %P"}} {{event.Event_Title}}</div>
                            <div class='EventParticipants'>{{event.Participants}}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </script>
</body>
</html>