<style type="text/css">@import url("https://dream-city-church.github.io/dcc-widgets/dcc-HighlightedEvents-CSS.css?rev=250421");</style>
{% for group in DataSet1 %}

    <a class="highlighted-event" href="{{ group.Group_URL }}">
        <img src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{ group.Group_Image }}" alt="{{ group.Group_Name }}" class="event-image" />
        <p class="event-title">{{ group.Group_Name }}</p>
        
        {% if group.Group_Meeting_Time.size > 5 %}<p class="event-date"><i class="fa-solid fa-calendar-days fa-xs"></i> {{ group.Group_Meeting_Time }}</p>{% endif %}
        <p class="event-location"><i class="fa-solid fa-location-dot fa-xs"></i> {{ group.Group_Location }}</p>

        {% if group.Group_Focus.size > 0 %}<div class="group-focus event-tag">{{ group.Group_Focus }}</div>{% endif %}
    </a>

{% endfor %}

<script type="text/javascript">
    // This script is used to enable a horizontal drag to scroll effect on the #HighlightedGroupsWidget container and elements inside it.
    // It allows users to scroll through the highlighted groups by dragging their mouse or finger across the screen.
    const container = document.querySelector("#HighlightedGroupsWidget");
    let isDown = false;
    let startX;
    let scrollLeft;
    container.addEventListener("mousedown", (e) => {
        isDown = true;
        container.classList.add("active");
        startX = e.pageX - container.offsetLeft;
        scrollLeft = container.scrollLeft;
    });
    container.addEventListener("mouseleave", () => {
        isDown = false;
        container.classList.remove("active");
    });
    container.addEventListener("mouseup", () => {
        isDown = false;
        container.classList.remove("active");
    });
    container.addEventListener("mousemove", (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - container.offsetLeft;
        const walk = (x - startX) * 2; // The multiplier controls the scroll speed
        container.scrollLeft = scrollLeft - walk;
    });
    container.addEventListener("touchstart", (e) => {
        isDown = true;
        container.classList.add("active");
        startX = e.touches[0].pageX - container.offsetLeft;
        scrollLeft = container.scrollLeft;
    });
    container.addEventListener("touchend", () => {
        isDown = false;
        container.classList.remove("active");
    });
    container.addEventListener("touchmove", (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.touches[0].pageX - container.offsetLeft;
        const walk = (x - startX) * 2; // The multiplier controls the scroll speed
        container.scrollLeft = scrollLeft - walk;
    });
    

</script>
