<style type="text/css">@import url("https://dream-city-church.github.io/dcc-widgets/dcc-HighlightedEvents-CSS.css?rev=250421");</style>
{% for group in DataSet1 %}

    <a class="highlighted-event" href="{{ group.Group_URL }}" draggable="false" ondragstart="return false;">
        {% if group.Group_Registration_Required == "Yes" %}<div class="event-tag">Registration Required</div>{% endif %}
        {% if group.Group_Registration_Required == "No" %}<div class="event-tag">No Registration Required</div>{% endif %}
        {% if group.Group_Registration_Required == "Yes" and group.Group_Registration_URL.size > 0 %}<div class="event-tag"><a href="{{ group.Group_Registration_URL }}" target="_blank" rel="noopener noreferrer">Register Here</a></div>{% endif %}
        <img src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{ group.Group_Image }}" alt="{{ group.Group_Name }}" draggable="false" ondragstart="return false;" class="event-image" />
        <p class="event-title">{{ group.Group_Name }}</p>
        
        {% if group.Group_Meeting_Time.size > 5 %}<p class="event-date"><i class="fa-solid fa-calendar-days fa-xs"></i> {{ group.Group_Meeting_Time }}</p>{% endif %}
        <p class="event-location"><i class="fa-solid fa-location-dot fa-xs"></i> {{ group.Group_Location }}</p>

        {% if group.Group_Focus.size > 0 %}<div class="group-focus event-tag">{{ group.Group_Focus }}</div>{% endif %}
    </a>

{% endfor %}
