#PrayerRequestExportWidget {
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.request {
    width: 100%;
    display: inline-block;
    margin-bottom: 2rem;
}

h2.heading {
    font-weight: bold;
    display: block;
    margin: 0;
}

.date {
    font-style: italic;
    font-weight: bold;
    display: block;
}

.description {
    margin-top: 0.5rem;
    display: block;
}

@media print {
    .request {
        page-break-inside: avoid;
    }
}