#HighlightedEventsWidget {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

a.highlighted-event {
    color: #3f3f3f;
    text-decoration: none;
}

.highlighted-event {
    min-width: 225px;
    max-width: 250px;
    display: inline-block;
    flex: 0;
}

img.event-image {
    display: inline-block;
    aspect-ratio: 16 / 9;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    margin: 0;
}

p.event-title {
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

p.event-date {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}
