:root {
    --primary: #bc204b;
    --secondary: #e07e3c;
    --tertiary: #253746;
    --basegray: #efefef;
}

.ssi-container {
    width: 100%;
}

.spinner-container {
    width: 100%;
    height: 100vw;
    padding-top: 33vh;
    position: absolute;
    z-index: 999;
    background-color: rgb(255,255,255 , 0.5);
    text-align: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.loading-spinner {
    font-size: 10rem;
    --track-width: 10%;
    --indicator-color: var(--primary);
    --track-color: transparent;
}

.skeleton-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

sl-skeleton.description-text {
    height: 2rem;
    width: 85%;
    margin: 0.5rem auto;
}

.header-image {
    aspect-ratio: 16 / 9;
    margin-bottom:2rem;
    --border-radius: 1rem;
    border-radius: 1rem;
}

.form-field {
    margin: 3rem auto;
    width: 66%;
    height: 3rem;
    --border-radius: 0;
    border-radius: 0;
}

.form-button {
    margin: 4rem auto;
    width: 25%;
    height: 3rem;
}