<html>
<head>
    <title>RSVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="dcc-EventRSVP-CSS.css">
    <script
        type="text/javascript"
        src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"
    ></script>
</head>
<body>
    <div
    id="EventRSVPWidget"
    data-component="CustomWidget"
    data-sp="api_custom_EventRSVP"
    data-params="@EventID=[id]&@UserGUID=[ug]"
    data-templateId="EventRSVPWidget-Template"
    data-requireUser="false"
    data-cache="false"
    data-debug="true"
    data-host="dreamcitychurch"
    ></div>

    <script id="EventRSVPWidget-Template" type="text/template">
        <div id="event">
            {% for event in DataSet1 %}
                <div id="event-header">
                    <img src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{event.Image_GUID}}" id="event-img-header">
                    <h1 id="event-title">{{event.Event_Title}}</h1>
                    <h2 id="event-start-date">{{event.Event_Start_Date | date: "%A, %B %e, %l:%M%P" }}</h2>
                    <p id="event-description">{{event.Description | newline_to_br }}</p>
                    <p id="event-instructions">{{event.Meeting_Instructions}}</p>
                </div>
            {% endfor %}
            {% assign rsvp_status_yes = DataSet2 | where: "RSVP_Status_ID", 1 %}
            {% assign rsvp_status_no = DataSet2 | where: "RSVP_Status_ID", 2 %}
            <div id="rsvp-status">
                <input type="radio" id="rsvp-yes" name="rsvp" {% if rsvp_status_yes.length > 0 %} checked {% endif %} required >
                <label for="rsvp-yes">Yes</label>

                <input type="radio" id="rsvp-maybe" name="rsvp" {% if rsvp_status_no.length == 0 and rsvp_status_yes.length == 0%} checked {% endif %} required >
                <label for="rsvp-maybe">Maybe</label>

                <input type="radio" id="rsvp-no" name="rsvp" {% if rsvp_status_no.length > 0 and rsvp_status_yes.length == 0 %} checked {% endif %} required >
                <label for="rsvp-no">No</label>
            </div>
            
            <div id="participants">
                <p id="rsvp-instructions">Please select who is coming:</p>
                {% for person in DataSet2 %}

                    <div class="person" data-pid="{{ person.Participant_ID}}" {% if person.Event_Participant_ID > 0 %} data-epid="{{ person.Event_Participant_ID }}" {% endif %}>

                        <input type="checkbox" class="rsvp-checkbox" {% if person.RSVP_Status_ID == 1 %} checked {% endif %}>

                        <div class="person-name">{{person.First_Name}} {{person.Last_Name}}</div>

                        <div class="person-form">
                            {% assign participant_form = DataSet3 | where: "Contact_ID", person.Contact_ID %}

                            {% for formitem in participant_form %}

                                <div class="form-field">
                                    <div class="form-field-label{% if formitem.Required == true %} required{% endif %}">{{formitem.Field_Label}}</div>
                                    <!-- If field type is radio, break the Field_Value into an array from newlines \n and iterate into the form -->
                                    {% if formitem.Field_Type == 'radio' %}

                                        {% assign radio_values = formitem.Field_Values | split: '\n' %}
                                        
                                        {% for radio_value in radio_values %}

                                            <input type="radio" id="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}-{{forloop.index}}" name="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}" value="{{radio_value}}" {% if formitem.Response == radio_value %} checked {% endif %} {% if formitem.Required == true %} required {% endif %}>
                                            <label for="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}-{{forloop.index}}">{{radio_value}}</label>

                                        {% endfor %}
                                    {% else %}
                                        <input type="{{formitem.Field_Type}}" id="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}" value="{{formitem.Response}}">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="submit">
                <button id="submit-button">Submit RSVP</button>
            </div>
        </div>
        
    </script>

    <!-- Javascript - Observe changes to rsvp radio buttons. If rsvp-yes is checked on load or click, set #participants display:inline-block. If not rsvp-yes, clear display:block -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOM Loaded');
            var rsvpYes = document.getElementById('rsvp-yes');
            var rsvpMaybe = document.getElementById('rsvp-maybe');
            var rsvpNo = document.getElementById('rsvp-no');
            var participants = document.getElementById('participants');

            if (rsvpYes.checked) {
                participants.style.display = 'inline-block';
            } else {
                participants.style.display = 'none';
            }

            rsvpYes.addEventListener('click', function() {
                participants.style.display = 'inline-block';
            });

            rsvpMaybe.addEventListener('click', function() {
                participants.style.display = 'none';
            });

            rsvpNo.addEventListener('click', function() {
                participants.style.display = 'none';
            });
        });
        /* Add a mutation observer on EventRSVPWidget and fire listener when the widget is added to the DOM */
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                console.log('Mutation observed');
                if (mutation.addedNodes.length > 0) {
                    console.log('Widget added to DOM');
                    var rsvpYes = document.getElementById('rsvp-yes');
                    var rsvpMaybe = document.getElementById('rsvp-maybe');
                    var rsvpNo = document.getElementById('rsvp-no');
                    var participants = document.getElementById('participants');

                    if (rsvpYes.checked) {
                        participants.style.display = 'inline-block';
                    } else {
                        participants.style.display = 'none';
                    }

                    rsvpYes.addEventListener('click', function() {
                        participants.style.display = 'inline-block';
                    });

                    rsvpMaybe.addEventListener('click', function() {
                        participants.style.display = 'none';
                    });

                    rsvpNo.addEventListener('click', function() {
                        participants.style.display = 'none';
                    });
                }
            });
        });
        observer.observe(document.getElementById('EventRSVPWidget'), { childList: true });
    </script>
</body>
</html>