<html>
<head>
    <title>RSVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="dcc-EventRSVP-CSS.css">
    <script
        type="text/javascript"
        src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"
    ></script>
</head>
<body>
    <div
    id="EventRSVPWidget"
    data-component="CustomWidget"
    data-sp="api_custom_EventRSVP"
    data-params="@EventID=[id]&@UserGUID=[ug]"
    data-templateId="EventRSVPWidget-Template"
    data-requireUser="false"
    data-cache="false"
    data-debug="true"
    data-host="dreamcitychurch"
    ></div>

    <script id="EventRSVPWidget-Template" type="text/template">
        <!-- DataSet1 contains basic information about the event -->
        <!-- DataSetw contains any form fields for the event -->
        <!-- DataSet3 contains information about the user's family, if a user GUID was provided -->
        <!-- DataSet4 contains the user's family form responses, if they exist -->
        <div id="event">
            {% for event in DataSet1 %}
                <div id="event-header">
                    <img src="https://my.dreamcitychurch.us/ministryplatformapi/files/{{event.Image_GUID}}" id="event-img-header">
                    <h1 id="event-title">{{event.Event_Title}}</h1>
                    <h2 id="event-start-date">{{event.Event_Start_Date | date: "%A, %B %e, %l:%M%P" }}</h2>
                    <p id="event-description">{{event.Description | newline_to_br }}</p>
                    <p id="event-instructions">{{event.Meeting_Instructions}}</p>
                </div>
            {% endfor %}
            {% assign rsvp_status_yes = DataSet3 | where: "RSVP_Status_ID", 1 %}
            {% assign rsvp_status_no = DataSet3 | where: "RSVP_Status_ID", 2 %}
            <div id="rsvp-status">
                <input type="radio" id="rsvp-yes" class="rsvp-button" name="rsvp" {% if rsvp_status_yes.length > 0 %} checked {% endif %} required >
                <label for="rsvp-yes">Yes</label>

                <input type="radio" id="rsvp-maybe" class="rsvp-button" name="rsvp" {% if rsvp_status_no.length == 0 and rsvp_status_yes.length == 0%} checked {% endif %} required >
                <label for="rsvp-maybe">Maybe</label>

                <input type="radio" id="rsvp-no" class="rsvp-button" name="rsvp" {% if rsvp_status_no.length > 0 and rsvp_status_yes.length == 0 %} checked {% endif %} required >
                <label for="rsvp-no">No</label>
            </div>
            
            <div id="participants">

                {% if DataSet3.length > 0 %}

                    <p id="rsvp-instructions">Please select who is coming:</p>
                    {% for person in DataSet3 %}

                        <div class="person" data-pid="{{ person.Participant_ID}}" {% if person.Event_Participant_ID > 0 %} data-epid="{{ person.Event_Participant_ID }}" {% endif %}>

                            <input type="checkbox" class="rsvp-checkbox" {% if person.RSVP_Status_ID == 1 %} checked {% endif %}>

                            <div class="person-name">{{person.First_Name}} {{person.Last_Name}}</div>

                            <div class="person-form">
                                {% assign participant_form = DataSet4 | where: "Contact_ID", person.Contact_ID %}

                                {% for formitem in participant_form %}

                                    <div class="form-field">
                                        <div class="form-field-label{% if formitem.Required == true %} required{% endif %}">{{formitem.Field_Label}}</div>
                                        {% if formitem.Field_Type == 'radio' %}

                                            {% assign radio_values = formitem.Field_Values | split: '\n' %}
                                            
                                            {% for radio_value in radio_values %}

                                                <input type="radio" id="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}-{{forloop.index}}" name="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}" value="{{radio_value}}" {% if formitem.Response == radio_value %} checked {% endif %} {% if formitem.Required == true %} required {% endif %}>
                                                <label for="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}-{{forloop.index}}">{{radio_value}}</label>

                                            {% endfor %}
                                        {% else %}
                                            <input type="{{formitem.Field_Type}}" id="{{formitem.Form_Field_ID}}-{{person.Contact_ID}}" value="{{formitem.Response}}">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %} 

                {% else %}

                        <div class="person new-person">
                            <input type="checkbox" class="rsvp-checkbox" checked>
                            <div class="form-field-label required">Your Information</div>
                            <div class="form-field"><input type="text" id="first-name" placeholder="First Name" required></div>
                            <div class="form-field"><input type="text" id="last-name" placeholder="Last Name" required></div>
                            <div class="form-field"><input type="email" id="email" placeholder="Email" required></div>
                            <div class="form-field"><input type="tel" id="phone" placeholder="Phone"></div>

                            <div class="person-form">
                                {% for formitem in DataSet2 %}
                                    <div class="form-field">
                                        <div class="form-field-label{% if formitem.Required == true %} required{% endif %}">{{formitem.Field_Label}}</div>
                                        {% if formitem.Field_Type == 'radio' %}

                                            {% assign radio_values = formitem.Field_Values | split: '\n' %}
                                            
                                            {% for radio_value in radio_values %}

                                                <input type="radio" id="{{formitem.Form_Field_ID}}-{{forloop.index}}" name="{{formitem.Form_Field_ID}}" value="{{radio_value}}" {% if formitem.Required == true %} required {% endif %}>
                                                <label for="{{formitem.Form_Field_ID}}-{{forloop.index}}">{{radio_value}}</label>

                                            {% endfor %}
                                        {% else %}
                                            <input type="{{formitem.Field_Type}}" id="{{formitem.Form_Field_ID}}" {% if formitem.Required == true %} required {% endif %}>
                                        {% endif %}
                                {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
                
            </div>
            {% if DataSet3 == null %}
            <div id="add-person">
                <button id="add-person-button" onclick='AddNewPerson()'><i class="fa-solid fa-user-plus"></i> Add Another Person</button>
            </div>
            {% endif %}
            <div id="submit">
                <button id="submit-button">Submit RSVP</button>
            </div>
        </div>
        
    </script>

    <!-- Javascript - When the add-person-button is clicked, add a copy of the .person .new-person div to the end of the #participants div with cleared form fields -->
    <script type="text/javascript">
        function AddNewPerson() {
                var addPersonButton = document.getElementById('add-person-button');
                var participants = document.getElementById('participants');
                var newPerson = document.querySelector('.person.new-person');
                var newPersonClone = newPerson.cloneNode(true);
                participants.appendChild(newPersonClone);
                /* add a button inside the newly created newPersonClone to remove the new person */
                var removePersonButton = document.createElement('button');
                removePersonButton.innerHTML = '<i class="fa-solid fa-user-minus"></i> Remove Person';
                removePersonButton.onclick = function() {
                    newPersonClone.remove();
                };
                newPersonClone.appendChild(removePersonButton);
                
            };
    </script>

    <script type="text/javascript">
        
        /* Add a mutation observer on EventRSVPWidget and fire listener when the widget is added to the DOM */
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length > 0) {
                    console.log('Widget added to DOM');
                    var rsvpYes = document.getElementById('rsvp-yes');
                    var rsvpMaybe = document.getElementById('rsvp-maybe');
                    var rsvpNo = document.getElementById('rsvp-no');
                    var participants = document.getElementById('participants');
                    var rsvpCheckboxes = document.querySelectorAll('.rsvp-checkbox');
                    var personForms = document.querySelectorAll('.person-form');

                    rsvpYes.addEventListener('click', function() {
                        /* Enable rsvp-checkbox inputs */
                        rsvpCheckboxes.forEach(function(checkbox) {
                            checkbox.disabled = false;
                        });
                        personForms.forEach(function(form) {
                            form.style.display = 'block';
                        });
                        document.getElementById('add-person').style.display = 'block';
                        document.getElementById('rsvp-instructions').style.display = 'block';
                    });

                    rsvpMaybe.addEventListener('click', function() {
                        /* Uncheck and disable rsvp-checkbox inputs */
                        rsvpCheckboxes.forEach(function(checkbox) {
                            checkbox.checked = false;
                            checkbox.disabled = true;
                        });
                        personForms.forEach(function(form) {
                            form.style.display = 'none';
                        });
                        document.getElementById('add-person').style.display = 'none';
                        document.getElementById('rsvp-instructions').style.display = 'none';
                    });

                    rsvpNo.addEventListener('click', function() {
                        /* Uncheck and disable rsvp-checkbox inputs */
                        rsvpCheckboxes.forEach(function(checkbox) {
                            checkbox.checked = false;
                            checkbox.disabled = true;
                        });
                        personForms.forEach(function(form) {
                            form.style.display = 'none';
                        });
                        document.getElementById('add-person').style.display = 'none';
                        document.getElementById('rsvp-instructions').style.display = 'none';
                    });
                }
            });
        });
       

        /* Add listener for when the widget finishes loading. If rsvp-maybe or rsvp-no is selected, hide the person-forms */
        window.addEventListener('widgetLoaded', function(event) {
            var rsvpMaybe = document.getElementById('rsvp-maybe');
            var rsvpNo = document.getElementById('rsvp-no');
            var personForms = document.querySelectorAll('.person-form');
            var addPerson = document.getElementById('add-person');

            if (rsvpMaybe.checked || rsvpNo.checked) {
                personForms.forEach(function(form) {
                    form.style.display = 'none';
                });
                addPerson.style.display = 'none';
            }
        });

        observer.observe(document.getElementById('EventRSVPWidget'), { childList: true });
        
    </script>
</body>
</html>