<html>
<head>
    <title>My Week</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes, minimal-ui">
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #101010;
                color: #efefef;
            }
        }
    </style>
    <link rel="stylesheet" href="dccw-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <script src="https://kit.fontawesome.com/a6a26322af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="dcc-MyWeek-CSS.css">
    <script
        type="text/javascript"
        src="https://mpweb.azureedge.net/cdn/customWidgetV1.js"
    ></script>
</head>
<body>
    <div
    id="MyWeekWidget"
    data-component="CustomWidget"
    data-sp="api_custom_MyWeekWidget"
    data-params="@UserGUID=[UG]&@DaysAhead=8"
    data-templateId="MyWeekWidget-Template"
    data-requireUser="false"
    data-cache="true"
    data-debug="false"
    data-host="dreamcitychurch"
    ></div>

    <script id="MyWeekWidget-Template" type="text/template">
        <div>

            {% for days in DataSet1 %}

                <div class='day-card'>

                    <h2 class='day-heading'>{{days.FormattedDate}}</h2>
                    {% assign featured_events = DataSet3 | where: "DayNumber", days.DayNumber %}
                    {% assign participant_events = DataSet2 | where: "DayNumber", days.DayNumber %}
                    {% if featured_events.size == 0 and participant_events.size == 0 %}

                        <div class='no-event'>Nothing scheduled for this day.</div>

                    {% endif %}

                    {% for event in featured_events %}
                        <div class='{{event.Event_Type}}'>
                            <div class='event-header'>{{event.Event_Title}}</div>
                        </div>
                    {% endfor %}

                    {% for event in participant_events %}
                        <div class='{{event.Event_Type}}'>
                            <div class='event-header'>{{event.Event_Start_Date | date: "%l:%M %P"}} {{event.Event_Title}}</div>
                            <div class='event-participants'>{{event.Participants}}</div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}

        </div>
    </script>
</body>
</html>