/* Househodl PRF Widget */
.dccw-prf-card {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: #fafafa;
    border-radius: 0.25em;
    width: 50%;
}

.dccw-prf-person {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 0.25em;
}

.dccw-prf-person-status {
    font-style: italic;
    font-size: 0.95em;
}

@media screen(max-width: 800px) {
    .dccw-prf-card {
        width: 100%;
    }
}